[2018-04-25 09:07] gucong3000 commented on #250
360 browser is not tagged in `userAgnet`, other browsers have their own identifier in `userAgnet`, statistics will be different from Chrome

In addition to UC, other browser vendors just modified the UI and packaged Chromium (Except Maxthon
, It is Webkit) with some custom plug-ins, not real browsers, just like Opera 15+.

[2018-04-25 09:14] gucong3000 commented on #250
I usually configure this way: `Chrome >= 30`, this configuration is fully compatible with Opera 15+ QQ browser, Maxthon, but this is not intuitive for beginners

[2018-04-25 19:58] ai commented on #250
I added Opera 12.1 to `dead` browsers

[2018-04-25 20:00] ai commented on #250
Opera Mobile, Opera Mini, Baidu, QQ stays since they are important in some regions.

I will change my mind if:

* There will not be security updates
* Local community leaders say that it is not important to track these browsers anymore
* Somebody presents good reasons why removing these browsers will be good for Web ecosystem in long-term

[2018-04-25 20:02] ai commented on #249
Anyway, we can’t drop a query in patch/minor release.

I close this issue to move discussion to issue about improving the docs #252

[2018-04-25 20:02] #249 closed

[2018-04-25 20:46] ai commented on #252
https://github.com/browserslist/browserslist#best-practices

@jamiebuilds @ntwb @casey6 what do you think about these recommendations?

[2018-04-26 00:06] jamiebuilds commented on #252
updated it a little bit in #254

[2018-04-26 01:51] vostrik commented on #75
@ai @chicoxyzzy I created Pull Request to `node-releases` for adding Node.js release schedule. This schedule is needed for current issue.
https://github.com/chicoxyzzy/node-releases/pull/2

[2018-04-26 02:57] toxic-johann commented on #250
Hello, @ai . @itchina110 ask me to reply the post for him.

In China, the browser situation is slightly different.

In PC, browser like QQ browser, UC browser, 360 browser and so on have two engines. One of them is chromium, and the other is IE in mostly.

In mobile, most of the browser in China are based on Chromium. Thought some of them is based on an very old version chrome.

But we still have

[2018-04-26 14:14] tkadlec commented on #250
Just chiming in since I was tagged—this is a fascinating thread with a lot going on. I see you're getting input directly from folks in markets where UC and Opera Mini (among others) are popular so I'll hang back and let them do the talking. :)

Let me know though if there's something specific I can help with.

[2018-04-26 16:31] tkadlec commented on #250
@ai I haven't seen it officially deprecated—but I may have missed it.

The only caution I would give there is that the 12.x releases are the last releases to work on S60 phones, as well as any Android version prior to 4.x.

I haven't seen anything to suggest the market share for either is significant enough to warrant it being in the default list, but would suggest someone verify.

[2018-04-27 08:32] #252 closed

[2018-04-28 22:18] txwizard opened #255 "Chrome 66"
Last night, I was working with my Gulp build chain, which relies on the default browserslist, since it has no configuration settings to override it. Everything was working as expected in both Edge and Chrome. Today, I resume, and quickly notice that a page that I am certain rendered correctly last night no longer renders. Eventually, I managed to dump the default browserslist, which is as follows.

[2018-04-28 23:39] edmorley commented on #250
24 months seems like too large a time window without updates to consider a product secure. What do people think about reducing that to 12 months? (Or even less; presuming that the dates used for the calculation include security updates and not just major releases.)

[2018-04-29 01:31] ai commented on #250
@edmorley good point. We can even change it to “if there were no security patches for a critical issue for 6 months”.

Anyway, right now it is not a law. It depends on a discussion. So if you have an example we can consider it.

[2018-04-29 01:39] ai commented on #255
Hi. Sorry, sometimes browsers data can be outdated for few days.

Browserslist doesn't have own data. It uses [Can I Use](https://github.com/Fyrd/caniuse/). Trey tries to update it rapidly but a few hours or days delay can happen.

So, if it critical to you:

1. Try to update `caniuse-db` npm package every day.
2. Browsers do not remove support. If something work in `n-1` browser versions if will

[2018-04-29 01:39] #255 closed

[2018-04-29 16:39] txwizard commented on #255
Thank you @ai for your prompt, clear, concise, actionable response.

Your response left one thing that seems unclear, because I don't know enough about the internals of such tools as Babel to answer the question for myself. Do I understand correctly that e. g., Babel generates one stream of code that is compatible with all browsers on the list, so that there is little or no need for browser sniffi

[2018-04-29 19:47] ai commented on #255
Nope. Babel doesn't generate output for everyone.

Let's explain on the example. We have `const [first] = array` input. This JS contains 2 new syntax features: `const` variable and `[first] =` destructor (it means put first array child to this variable).

If you pass `last 2 Chrome versions` to Browserslist, Babel will not change anything in the code, since Chrome support both features.

If you pa

[2018-05-02 07:58] lunelson opened #256 "crawler/robot mappings"
Having recently read that googlebot is based on a specific browser, I wondered if it was possible to gather the mappings of all the crawler bots to know which browsers they equated to (mainly for the purpose of JavaScript compatibility).

@ai's suggestion was that I create a repo to hold these mappings but I'm afraid I don't know enough about how user-agent strings map to browsers. The following a

[2018-05-02 08:02] ai commented on #256
Hm. Nice idea. It will be useful for Babel to be sure that SPA website will be open in the Google.

I need npm package with a data.

[2018-05-11 19:00] galvarez421 opened #258 "Support shareable custom usage data"
I would like to create a shareable Browserslist config package that can be reused/shared across multiple projects. I am able to do this just fine except if I want to use custom usage data (`'my stats'`) that is relative to the shareable config rather than relative to projects whose Browserslist configs extend the shareable config.

Here is what I am trying to achieve:

1. Shareable Browserslist co

[2018-05-11 19:29] sacredMonster opened #259 "[Help] Module build failed: BrowserslistError: Unknown browser query `basedir=$(dirname "$(echo "$0" | sed -e 's,\\,/,g')")`"
Hello,
I am using **css-loader@0.28.11** with webpack in my project and when I try to build my project for production, I get the following error:

[code]
I have not explicitly included any browserlist config file in my project.

Thanks,
Karina

[2018-05-11 20:19] ai commented on #259
O_o seems like you have some problem with webpack config. Ask webpack team.

[2018-05-11 20:19] #259 closed

[2018-05-11 21:37] sacredMonster commented on #259
I will go ahead and file a help ticket on webpack meanwhile here is my webpack config (the same for both dev and prod):
[code]
thanks...

[2018-05-11 21:38] ai commented on #259
Config looks correct. Try to grep `basedir=` in your project.

[2018-05-11 21:50] sacredMonster commented on #259
Did a grep and found **`basedir=$(dirname "$(echo "$0" | sed -e 's,\\,/,g')")`** in a lot of node_modules eg:
`node_modules\.bin\browserslist:2:basedir=$(dirname "$(echo "$0" | sed -e 's,\\,/,g')")`

[2018-05-11 22:00] ai commented on #259
Hm, so maybe it is not a problem of webpack.

Seems like you have some conflict between npm and your operating system.

1. Try to remove `node_modules/` and install it again. Maybe you get `node_modules` from different OS.
2. Do you use Windows, Linux or Mac?
3. If you use Windows, do you have Git or Cygwin on your system?

[2018-05-14 06:37] galvarez421 commented on #258
@ai thank you for the prompt reply.

I plan to version and update the stats just like I would with any other resource that I share across multiple projects, e.g., shared Browserslist config, shared ESLint config, etc. Is that strategy not congruent with the intent of the custom usage data feature? I should note that my goal is to have reproducible builds, so I wouldn't want the stats to update and

[2018-05-15 06:35] ai commented on #258
What do you think about this temporarl solution:

[code]

So with `BROWSERSLIST_STATS` env variable you can set any path for statistics

[2018-05-18 02:18] galvarez421 commented on #258
That sounds like a good workaround for now. Thanks, I'll give it a try!

[2018-05-20 08:10] rowild opened #260 "Using "not dead" in package.json does not seem to work"
Probably it is mentioned anywhere - if so, I am sorry, I really must have overread it -, but it seems that using something like
[code]
does not seem to work. The npx browserlist command returns:
[code]
If it does, please point me to the docu or please provide an example...
Thanks a lot!!!

[2018-05-20 08:12] ai commented on #260
What you mean “doesn't work” (in issue always try to explicit describe what happened)

[2018-05-20 08:15] rowild commented on #260
I did.

[2018-05-20 08:28] rowild commented on #260
[code]

Also, if I use `> 0.1%` and `last 3 Chrome versions`, the result of `npx browserlist` shows Chrome browser versions down to 18 (similiar with Firefox, ios_safari etc.

What takes precedence?

Thank you very much!!

[2018-05-20 08:29] ai commented on #260
It is fixed version? Can you show initial? I want to make error message more clean.

[2018-05-20 08:43] rowild commented on #260
What is the "fixed version"?
`ncu -a` shows that all dependencies are up-to-date.
The package.json of browserlist in the node-modules folder shows
[code]
Does that help?

[2018-05-20 08:44] ai commented on #260
You are still getting this error message?

[2018-05-20 08:48] rowild commented on #260
No, the message is indeed gone. Thank you!
But - what about `> 0.01%` and `last 3 Chrome versions`? What is more important?

[2018-05-20 08:50] ai commented on #260
Can you does me version of config when you had the error message?

What did you mean by “important”

[2018-05-20 08:53] rowild commented on #260
It is the same config as above.
I expect that "npx browserlist" would only show the last 3 versions of Chrome, when I use "last 3 Chrome versions". But as soon as I use "> 0.01%" it shows almost all versions of Chrome that will be supported. It also makes a rule like "not <= ie11" useless, because suddenly the list show IE support down to version 7...
So I assume something "> 0.01%" should not be

[2018-05-20 08:56] ai commented on #260
Show me a config when you had `browserslist: Unknown browser query last 3 Chrome versions, not dead` error

Why not? I used them both. They means “last 3 Chrome versions **OR** any browser versions with at least 0.01% in market share”. But 0.01% if just to low limit. There is no practical reason to support so rare versions.

[2018-05-20 09:07] rowild commented on #260
Example:
[code]

Which is NOT good, because I only want latest 3 Chrome versions!
`autoprefixer` will also generate CSS prefixes for IE7 now?

[code]

Which is correct.
Why does `> 0.01%` override `last 3 Chrome versions`, but `last 1 version` does NOT override `last 3 Chrome versions`?

I would expect this:
* if there is a `last 3 Chrome versions`, then ONLY support those, not matter, if there is

[2018-05-20 09:10] ai commented on #260
In this case don't use `> 0.01%`

Nobody override each other. They are all combines.

[2018-05-20 09:12] rowild commented on #260
Combines!!! Aha!
Is that mentioned in the docu? Didn't catch my attention...
Thank you!

[2018-05-20 09:15] ai commented on #260
Yeap, but maybe not clear. I will try to think how to make it more clear.

Show me a config when you had `browserslist: Unknown browser query last 3 Chrome versions, not dead` error.

[2018-05-20 10:48] rowild commented on #260
:-)
As said previously: The config - also the one that caused the error - is the same as the very first one I posted.

Just as an info - maybe that clarifies things: I use Vue/cli webpack, where your browserlist extension is a dependency of some other extension...

Thanks for your help!

[2018-05-21 14:56] #260 closed

[2018-05-23 10:16] rdbmax commented on #14
It can be usefull if you need to build an 'Update your browser page' with browser detection mechanism

[2018-05-27 17:57] ai opened #261 "Outdated caniuse-lite warning"

[2018-05-29 08:47] tornography opened #262 "Different behavior of "not" operator in package.json and .browserslistrc"
When setting browserslist in `package.json`
[code]

I get an error saying

`BrowserslistError: Unknown browser query '<1%'`

while setting these options in `.browserslistrc`
[code]

build works as expected. Just like on http://browserl.ist/?q=last+2+versions%2C+not+%3C1%25

[2018-05-29 08:50] ai commented on #262
Seems like you have old Browserslist. Maybe you forget to update it (check `npm outdated`). Or cssnano keep old Browserslist in dependencies (check `npm ls`).

If you have old Browserslist try `not < 1%` (with space). We are trying to solve cssnano problem soon.

[2018-05-29 09:06] tornography commented on #262
Browserslist is on 3.2.8, and using `not < 1%` (with space) not working as well.
Still, .browserslistrc and cli (globally, locally) with `"last 2 versions, not <1%"` works.
It just acts differently when set in package.json. Seems like cssnano (?) has a problem with `1%` as it's expecting a browser like `not ie <= 8`.

[2018-05-29 09:08] ai commented on #262
@tornography can you check `npm ls` for older Browserslist in some dependency?

`.browserslistrc` works because we added this config only in 3.0.

[2018-05-29 09:29] tornography commented on #262
Ok, indeed autoprefixer and caniuse-api have `browserslist@1.7.7` as dependency and is not using the module on root level @3.2.8. So I need to investigate in different direction.

[code]

Thanks for pointing out. Issue can be closed.

[2018-05-31 13:55] oalexander opened #263 "Small typo in README"
While perusing the README, I noticed a small typo in the best practices section, It seems like it should read:

[2018-05-31 13:56] ai commented on #263
Yeap. Do you want to send PR?

[2018-05-31 13:58] oalexander commented on #263
@ai Consider it done.

[2018-05-31 13:59] #263 closed

[2018-06-01 12:49] Prabhagar06 opened #266 "Module build failed: BrowserslistError: Unknown browser query `dead`"
![error](https://user-images.githubusercontent.com/35989798/40841479-3a0346be-65c8-11e8-9ef1-976a01e9e04a.jpg)

Could you please help me

[2018-06-01 15:20] ai commented on #266
It happpens because of old cssnano (it uses old Browserslist without `dead` query).

We are triting to release cssnano 4 (with new Browserslist) ASAP

[2018-06-01 15:31] ai commented on #266
What you can do right now:

1. Disable CSS minimization in webpack. Just use `webpack csso plugin`.
2. Wait for cssnano 4 release

[2018-06-01 22:58] ai commented on #258
I found other user with same problem https://github.com/postcss/autoprefixer/issues/1053

Seems like we need some solution

[2018-06-01 23:00] #262 closed

[2018-06-04 05:48] Prabhagar06 commented on #266
Can you please explain how to disable CSS minimization in webpack? because i am new to this.
Thanks

[2018-06-04 09:08] ai commented on #266
@Prabhagar06 show your webpack config

[2018-06-05 04:30] Prabhagar06 commented on #266
Ya. I have done it myself. thanks

[2018-06-06 15:47] mrchief commented on #28
`last 2 version, not last 2 ie version` gives `browserslist: Unknown browser query `last 2 version, not last 2 ie version` error

[2018-06-06 15:49] ai commented on #28
@mrchief show me your `package.json` and Browserslist config

[2018-06-06 15:53] mrchief commented on #28
That 1 line is all I have. I tried breaking it into multiple lines but same results.

![image](https://user-images.githubusercontent.com/781818/41049989-29114a52-6980-11e8-9362-1550fc36fc9f.png)

[2018-06-06 15:55] mrchief commented on #28
Also, this query fails: `last 2 version, not ie`. Not sure if that's correct syntax-wise

[2018-06-06 15:56] ai commented on #28
@mrchief you must split queries in `.browserslistrc` by new line, not by `,`

I will add a warning for missed new line in config in next week (there are no user mistakes, there is only a bad UX). But you anyway must to replace `, ` to new lines.

[2018-06-06 15:57] mrchief commented on #28
That works.

[code]

Any idea why this fails?

[code]

[2018-06-06 15:59] ai commented on #28
@mrchief there is no `ie` query to use it in `not ie`. Use `not ie > 0`

[2018-06-12 07:27] jitendravyas opened #269 "Error in npx browserslist npm ERR! code E404"
[code]

Browserslist version 2.2.2
I use Yarn as package manager

[2018-06-12 07:34] ai commented on #269
browserSlist

[2018-06-12 07:34] #269 closed

[2018-06-12 07:54] jitendravyas commented on #269
Sorry, it was my mistake. Now command is running but I get this

[code]

I thought only `npx browserslist` will return browserslist from my browserslist file

[2018-06-12 07:56] ai commented on #269
Show your config (and config file name)

[2018-06-12 08:00] jitendravyas commented on #269
![image](https://user-images.githubusercontent.com/77309/41277295-6f8794c8-6e44-11e8-87f8-95c2d7d6b7e2.png)

file name is just `browserslist` and this is code inside it

[code]
Browserslist version 2.2.2

I want to upgrade `browserslist` to latest version too but I afraid of breaking changes.

[2018-06-12 08:01] ai commented on #269
Update Browserslist to 3.x

[2018-06-12 08:02] jitendravyas commented on #269
Do I need to update anything in config too? Along with Upgrading Browserslist to the latest version?

[code]

[2018-06-12 08:04] ai commented on #269
Everything will work.

But I recommend to rename config to `.browserslistrc`.

[2018-06-12 08:07] jitendravyas commented on #269
Hope everything will work as it was working before. Hope breaking changes in CSS prefixes output if the config is same.

Can I know the reason for this recommendation? And after renaming this file, do I need to make any changes somewhere else too?

[2018-06-12 08:10] ai commented on #269
There was name conflicts in some npm told with old name.

No, you don't need to change anything.

Here is full list of changes:
https://github.com/browserslist/browserslist/blob/master/CHANGELOG.md#30

[2018-06-13 14:24] ai commented on #261
Done https://github.com/browserslist/browserslist/pull/267/

[2018-06-13 14:24] #261 closed

[2018-06-13 15:09] ai opened #270 "4.0 release"
Hi, Browserslist users. As I promised every API changes will be discussed with the community and voted.

I am planning to release 4.0 with these changes:

1. Allow selecting Node.js versions with `node 10`, `node 9.5`, `node 9.5.1` or `maintained node versions` queries. Browserslist result now could contain `node x.x.x` values. Be sure that your tool will not fall on this values.
2. If `caniuse-li

[2018-06-13 15:16] jonathantneal commented on #270
Approved

[2018-06-13 15:19] ismay commented on #270
👍 from me

[2018-06-13 15:21] dmfrancisco commented on #270
Seems good to me 👍

[2018-06-13 15:21] ai commented on #270
4.0 branch diff https://github.com/browserslist/browserslist/compare/v4

[2018-06-13 15:33] ai opened #271 "Better error message on one string in config file"
We need to support

[code]

[2018-06-13 15:36] ai commented on #271
Done 9b51964

[2018-06-13 15:36] #271 closed

[2018-06-13 15:40] jonathantneal commented on #270
Looking... would you ping me in a separate thread for corrections on that diff?

I think it should be `updating browser or Node.js versions`.

I think it should be `browser versions`.

[2018-06-13 15:42] ai commented on #270
@jonathantneal great suggestions. Could you send PR (my secret plan to increase contributors stats for this repo :D)

[2018-06-13 17:09] evilebottnawi commented on #270
+1

[2018-06-13 19:19] jonathantneal commented on #151
I plan for postcss-normalize / normalize.css to be built from individual source files that leverage browserslist. I’m sad that they will look so hard to read. I went through the repo today to see something like his had ever made it in.

| What I Wish Worked | What Actually Works |
| --- | --- |
`any`, `all` | `>= 0%`
`any ie`, `all ie` | `ie > 0`, `ie <= 11`

And sometimes on projects I want this:

[2018-06-13 19:27] ai commented on #151
I know that there are legit use cases for these queries. But I afraid that song this query to Browserslist will promote bad practice.

`> 0` requires more experience in software development. So developer more likely will know what they do.

I am thinking about it like a barrier only for advanced developers.

What do you think about it?

[2018-06-13 19:50] jonathantneal opened #272 "Query questions and suggestions"
EDIT: I’m a massive fan of this project. I got a little too excited and skipped to my issues. I want to start by saying 1. I understand and often agree with why previous syntax decisions were made, and 2. I’m willing to help contribute to resolve the issues I am raising (if they even are issues).

Why does http://browserl.ist/?q=last+2+chrome+versions (`last 2 chrome versions`) not include Chrome

[2018-06-13 21:05] ai commented on #272
Can you try this tests on local Browserslist installation with latest Can I Use data. This site is not official and I am not sure that Can I Use data is latest.

[2018-06-13 21:06] ai commented on #272
Every your queries has no affect from `dead` policy. You must explicitly set `not dead` query to remove dead browsers.

[2018-06-14 19:15] ai commented on #272
@jonathantneal this website contains old Browserslist. I fixed removing IE 9 on `not dead` in a recent release. Can you try latest Browserslist by CLI?

[2018-06-20 07:09] SiddarthVaikunthe commented on #266
Hello @Prabhagar06 @ai could you please provide the steps to disable the CSS minimization in webpack as I'm facing the same issue.

[2018-06-20 11:21] ai commented on #266
Try to pass:

[code]

[2018-06-20 12:19] SiddarthVaikunthe commented on #266
Included the above code in webpack.config.js under node_modules/xxhashjs/webpack.config.js but did not resolve the issue. Sorry i'm new to this. Could you please direct if i'm making the changes at the correct place? Thanks

var path = require("path")
module.exports = {
	"entry": "./lib/index.js"
,	"output": {
		"path": __dirname + "/build"
	,	"filename": "xxhash.js"
	,	"library": "XXH"
	,	"librar

[2018-06-20 12:21] ai commented on #266
@SiddarthVaikunthe sorry, ask webpack team for it ;)

[2018-06-23 10:51] yavorsky commented on #270
Awesome! 👍
Can it be published with `next` tag now, so we can safety prepare for release?

[2018-06-25 20:15] Splaktar commented on #266
If you are seeing this with the autoprefixer default settings (which include `not dead`), then you can work around it by using the following string:
[code]

[2018-06-26 15:06] #272 closed

[2018-06-26 20:30] ai commented on #75
Released in 4.0

[2018-06-26 20:35] ai commented on #270
Let’s start to implement it. So we will be ready for `node x.x.x` in `browserslist()` result, when Babel 7 was released.

@evilebottnawi cssnano 4 release is critical here as well, since old Browserslist in cssnano in webpack will block anyone from using new queries.

[2018-07-02 08:56] Alsmile opened #274 "The "-webkit-box-orient" is missing while last 2 versions"
last 2 version

[.scss]
 `
-webkit-box-orient: vertical;
text-overflow: ellipsis;
...
`
The  "-webkit-box-orient: vertical;" is missing.

"last 5 version " is work and not missing. Why?

[2018-07-02 14:34] ai commented on #274
It happens, because Autoprefixer remove this property. Add `/* autoprefixer: ignore next */` above the rule.

[2018-07-02 14:34] #274 closed

[2018-07-07 04:05] ai commented on #266
Update `css-loader` to 1.0.0. It will fix this problem with unknown queries.

[2018-07-07 04:05] #266 closed

[2018-07-11 08:18] metaa opened #275 "Get current version based on date"
Let's say I want to find out the versions that were considered "current" back in June 2015.
Currently there is no way to do that except using `since` and then cutting off everything but the first version listed in there.

Could we add something like `current <DATE>`?

Looking forward to a discussion.

[2018-07-11 10:20] ai commented on #275
Hi. It is cool idea 😄.

Tell me more about your use case. I need it to make API better.

[2018-07-12 07:58] metaa commented on #275
I'd use it to do these things:
- find out what versions were current back when some project started
- find out how outdated the version from back then is (if I started a project in December 2017, the most current Edge would be 17 which is still current, whereas we've had 5 versions of Chrome since)
- compare feature support based on date

and probably some more useful stuff 😊

[2018-07-12 11:34] ai commented on #275
Maybe it is better to create septated tool. All this use cases are mostly for researching, not for using in `.browserslistrc`.

I can put a link to your tool in Browserslist docs.

Does it look reasonable?

[2018-07-12 19:26] juanr2001 opened #276 "Vue BrowserslistError: Unknown browser query `dead`"
The best way to replicated it:

1) Create a project: vue init webpack my-project
2) Install Bootrap-Vue. Follow the simple steps here: https://bootstrap-vue.js.org/docs

When project is running on dev, it returns this.
`
./node_modules/css-loader??ref--6-1!./node_modules/postcss-loader/lib??ref--6-2!./node_modules/bootstrap/dist/css/bootstrap.css
Module build failed: BrowserslistError: Unknown bro

[2018-07-12 19:31] ai commented on #266
@juanr2001  Show your `npm ls`

[2018-07-12 19:33] ai commented on #276
You must update `css-loader` to 1.0.

Maybe you should send PR to that bootstrap (sorry, I am not Vue user to be sure that I didn't break anything; also this fix is a easy way to improve your GitHub page).

[2018-07-12 19:33] #276 closed

[2018-07-12 20:43] tncho commented on #266
@ai I'm encountering the same issue with Angular 5.2

[2018-07-12 20:45] ai commented on #266
@tncho are you sure that Angular 5.2 uses `css-loader` 1.0?

[2018-07-12 20:59] tncho commented on #266
@ai honestly I'm not sure, but I think not since I'm not seeing that dependency in the package / package-lock .json. The error in my case goes like this:

`ERROR in ./node_modules/bootstrap/dist/css/bootstrap.min.css
Module build failed: BrowserslistError: Unknown browser query 'dead'
    at C:\Users\tncho\Documents\projects\webapp\node_modules\br                          owserslist\index.js:164:1

[2018-07-12 21:00] ai commented on #266
@tncho to fix this issue you must start to use `css-loader` 1.0.

Check your `npm ls`, find who load old Browserslist (before 3.0). Update the dependency.

[2018-07-12 21:33] nicksterx commented on #266
It looks like @angular/cli@1.7.4 has a dependency on autoprefixer@7.2.6 which has a dependency on browserslist@2.11.3

[2018-07-12 22:31] bjohndev commented on #266
This just started happening for me today after I manually deleted my npm_modules folder and ran npm install. Now when I try to run ng serve. I get the error below.

`ERROR in ./node_modules/raw-loader!./node_modules/postcss-loader/lib??embedded!./node_modules/bootstrap/dist/css/bootstrap.min.css
Module build failed: BrowserslistError: Unknown browser query `dead``

[2018-07-12 22:36] ai commented on #266
@bjohndev  Check your npm ls, find who load old Browserslist (before 3.0). Update the dependency.

[2018-07-12 22:37] bjohndev commented on #266
This is the same issue that @nicksterx  mentioned. "It looks like @angular/cli@1.7.4 has a dependency on autoprefixer@7.2.6 which has a dependency on browserslist@2.11.3" , what command should I run to update which dependency?

[2018-07-12 22:42] ai commented on #266
@bjohndev current version is 6.0.8 😏.

Update `@angular/cli` in your `package.json` and then call `npm update`.

I recommend to use Yarn instead of npm since Yarn has very useful tool `yarn upgrade-interactive --latest`

[2018-07-12 22:45] bjohndev commented on #266
Thanks @ai  below is my package.json. I'm not sure what to change there.

`{
  "name": "ey-tax-severance-tax-tool-cli",
  "version": "0.0.0",
  "license": "MIT",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build --prod",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e"
  },
  "private": true,
  "dependencies": {
    "@angular/animations": "^5.2.0",

[2018-07-12 22:49] nicksterx commented on #266
@bjohndev Do you have another dev on your team with a working build? If you do can you take their package-lock.json? That's what I did to get to a working state but trying to figure out which package changed to break everything.

[2018-07-12 22:49] ai commented on #266
Look into `npm ls` again and try to find the first dependency, which bring you old Browserslist. Maybe they're is a dependency above `@angular/cli` in dependencies tree. You maybe need to update it or to create a issue and ask developer to update `@angular/cli`.

I am not Angular user, so I can't give you direct instructions. You can try to ask people in Angular slack to help you.

[2018-07-12 22:52] bjohndev commented on #266
@nicksterx I have my package-lock.json in source control. I'll have to look at that to see if I can determine what is happening. I have several projects setup without this problem.

[2018-07-12 22:55] nicksterx commented on #266
Figured it out! Bootstrap 4.1.2 is breaking things. They released it 6 hours ago. Not sure what is broken but changing my package.json bootstrap to 4.1.1 fixes it.

[2018-07-12 22:58] bjohndev commented on #266
@nicksterx I'll give this a try

[2018-07-12 22:58] ai commented on #266
@nicksterx can you create a issue and ask them to update dependency?

[2018-07-12 23:00] nicksterx commented on #266
@ai They aren't the one with browserslist as the dependency. angular/cli1.7.4 has the dependency. But something in bootstrap 4.1.2 is not compatible with browserslist 2.11.3

[2018-07-12 23:00] bjohndev commented on #266
something else must have resolved your issue. I just checked @nicksterx , I have  "bootstrap": "^4.1.1", and still have the issue.

[2018-07-12 23:01] nicksterx commented on #266
It's upgrading your package to 4.1.2 remove the ^
"bootstrap": "4.1.1"

[2018-07-12 23:07] bjohndev commented on #266
Thanks @nicksterx , I'm running the install for bootstrap 4.1.1

[2018-07-12 23:14] bjohndev commented on #266
Nice find @nicksterx ! Installing bootstrap 4.1.1 resolved my issue. I appreciate everyones help!

[2018-07-12 23:14] ai commented on #266
I am thinking to deprecated Browserslist 2.x. Everyone will have a warning about this type of conflicts and it will force maintainers to update the dependencies.

[2018-07-13 09:41] Iyashi commented on #197
Yet, relative paths are not working.

[2018-07-13 11:01] Iyashi opened #277 "extend rel-path and/or support js/json"
Hey \o/

first of all I want to thank you for this great tool. Helped a hell of a lot in web-dev!

But there's still a thing that bothers me:
In combination with some tools used in web-dev (eslint, stylelint, webpack, babel, ..) there's a lot to configure and each tool has its own configuration file which is, in most cases, named by the following pattern: `<>.config.js`. Except for `.browserslistr

[2018-07-13 12:04] wfairless commented on #266
@nicksterx Great catch! We had the same issue on my team: @angular/cli locked to 1.7.4 (as it's the last version for Angular 5) and bootstrap@^4.0.0. Locking bootstrap to 4.1.1 fixed the issue with our build. Thanks!

[2018-07-13 14:16] ai commented on #277
You want some global config directory to keep Browserslist config there instead of project root?

Right now you can:

[code]

I need some agreement in community about the dir name to support it out of box.

[2018-07-13 14:16] #277 closed

[2018-07-13 15:32] volkovmqx commented on #266
"bootstrap-vue": "^2.0.0-rc.11" is failing also

[2018-07-13 15:33] Iyashi commented on #277
To generalize

### Configurable config-path / config-dir
I would like to have one (or at best _all_) of these:
- a configurable `config/` directory (auto-search for .browserslistrc, browserslist.config.js, ...)
- a configurable `path/to/config.file` (not dir, but file already. No auto-search needed anymore)

Examples:
1. `browserslist --config ../config` (auto search `.browserslistrc` in given dir

[2018-07-13 18:23] Sangmoo commented on #266
You use the Bootstrap?
Then, try downgrading the bootstrap to 3.

[2018-07-14 08:00] ai commented on #266
Did somebody create an issue in Bootstrap main repo?

[2018-07-14 08:10] ai commented on #277
Browserslist CLI already has `--config=path/to/config` option.

But Browserslist CLI is rarely used. The most users use Browserslist in Autoprefixer or Babel. So there is a `BROWSERSLIST_CONFIG` env variable.

`BROWSERSLIST_CONFIG` and CLI’s `--config` accepts path to custom config.

`BROWSERSLIST_CONFIG="extends browserslist-config-my-awesome-package" npm build`

We disabled it because of securit

[2018-07-14 13:49] wfairless commented on #266
Yes, https://github.com/twbs/bootstrap/issues/26876

[2018-07-14 20:34] mgol commented on #266
Judging by the number of people affected it seems to affect people who don't specify their own browserslist or at least don't specify the "not dead" part. Why should it matter that some tool is relying on an old browserslist version then? They should be independent of each other.

[2018-07-14 20:36] ai commented on #266
@mgol Browserslist goal was to have the same config for multiple tools. Tools load config automatically from project root.

This is why some old told uses old Autoprefixer for user's CSS. This Autoprefixer loads config and fails.

[2018-07-14 20:42] mgol commented on #266
Yes, I would understand the error if someone put incompatible browserslist config in their project configuration "manually". This is not what happens here, though, as I understand, is it?

[2018-07-14 20:44] ai commented on #266
@mgol I thought it is because of user’s configs

[2018-07-14 20:47] mgol commented on #266
Hmm, interesting, I had a different impression. @wfairless @bjohndev @nicksterx @tncho do you have browserslist config in your project that includes the `not dead` clause?

[2018-07-14 21:22] wfairless commented on #266
We did not have any config for browserslist in our project. In fact, I added a config in package.json without “not dead” but the build was still failing on the updated Bootstrap config

[2018-07-14 21:43] ai commented on #266
Funny. Somebody in Bootstrap really use Browserslist in a wrong way.

[2018-07-15 12:30] freshcoderchan commented on #266
Hello, @nicksterx
I am facing same issue about browser list error.
In package.json
"boostrap": "^4.1.1"
I have changed to "4.1.1"
But I have still same issue.
How can I fix this issue?
I want your help.

[2018-07-15 12:35] freshcoderchan commented on #266
Hello, guys.
I have same issue now.
I have changed bootstrap version.
but still have same issue.
Please help me.

[2018-07-15 13:57] himrock922 commented on #266
Hi. My Project  happened same error too.
![2018-07-15 00 49 39](https://user-images.githubusercontent.com/4998536/42734621-1c97ce10-8882-11e8-9a69-0674f9501d51.png)
(using bootstrap, bootstrap.native, vue and webpack...)
I updated the `css-loader`  to 1.0.0 ver.
right...?

[2018-07-15 13:59] freshcoderchan commented on #266
Hello, @himrock922
I have just fixed this error after install bootstrap again.
npm install bootstrap.
This helped me.

[2018-07-15 14:03] himrock922 commented on #266
Hi, @freshcoderchan.
Does your project use the `css-loader`?
My project fixed this error after the css-loader updated to 1.0.0 ver.

[2018-07-15 14:05] freshcoderchan commented on #266
Hi, @himrock922
My project doen't use css-loader.
I have tried to update bootstrap version, so I have fixed.
Thanks.

[2018-07-16 09:12] pmeems commented on #266
Today I ran `npm update` and it gave me bootstrap v4.1.2.
`npm start` gives the `Module build failed: BrowserslistError: Unknown browser query 'dead'` error.
Changing my package.json from `"bootstrap": "^4.1.2"` to `"bootstrap": "4.1.1"` AND running `npm install bootstrap` solved my problem.

So it is definitely a problem in Bootstrap.

[2018-07-16 11:21] akhilsanker commented on #266
Hi @pmeems ,
Your solution did the trick.
Thanks a lot.

[2018-07-16 11:59] aviadatsnyk commented on #266
I got to this issue since I got the error myself. just want to point out bootstrap before 4.1.2 has 3 XSS vulnerabilities, so most of us would probably want to workaround the issue instead of downgrading. Another option is to just wait for the bootstrap fix and then upgrade, but this leaves you with an XSS vuln.
https://snyk.io/vuln/npm:bootstrap:20180529 (all the links to the bootstrap repo are t

[2018-07-16 14:03] nicksterx commented on #266
I think this is related to how node-sass is loading the auto-prefixer or browserlist.

[2018-07-16 16:56] nicksterx commented on #266
Bootstrap has a PR that should resolve this issue:
https://github.com/twbs/bootstrap/pull/26896

[2018-07-17 06:56] kmshelke commented on #276
@juanr2001 , could you fix the issue? what did you do to fix it?

Thanks,

Kuldip

[2018-07-17 07:46] jelmerbou commented on #276
Updated my css-loader, but that didn't fixed it for me. Still got the same error. Anyone knows how to fix this?

[2018-07-17 07:58] kmshelke commented on #276
I could resolve this with following steps:
1 Open Package.json of \node_module\bootstrap
2. Find "browserslist"
3. In the List (array) you will notice "not dead", delete this line

That's it.
Bootstrap latest version has added this Not Dead thing in the browser list which is creating problem.  Can anyone explain significance of Not Dead browser?

Regards,

Kuldip

[2018-07-17 08:17] jelmerbou commented on #276
Already fixed it, problem was my bootstrap css import. Changed it from @import "~bootstrap/dist/css/bootstrap.css"; to @import '~bootstrap/scss/bootstrap.scss'; That did the trick for me!

[2018-07-17 17:01] ai commented on #276
@kmshelke not dead is a browsers without security updates. It is very important query and Browserslist’s best practices.

The problem is only in dependencies which use old Browserslist. Send issue to update Browserslist.

[2018-07-19 14:19] ziemkowski commented on #247
I think this really comes down to Safari not using semver since they only release one major release per OS version, but can release several significant updates during the life of the OS and make a minor version bump for major updates. If they used semver correctly like any other developer this wouldn't be an issue.

More examples include `Object.values()`, CSS grids, and `fetch()` being introduced

[2018-07-20 12:48] sivaram636 commented on #276
Downgraded bootstrap to 4.1.0 fixes the issue for me

[2018-07-21 15:05] TheJaredWilcurt opened #278 "NW.js"
The list of browsers includes Electron (maps to Chrome version), but not NW.js.

A map of NW.js versions to Chromium/Node versions can be found here:

* https://nwjs.io/versions.json

[2018-07-21 16:58] ai commented on #278
Hi. I am not sure that adding Electron was a good idea. It increased the project size, but query is not really popular.

Let's wait. If few other developers will need it too, I will add it.

[2018-07-21 16:59] ai commented on #278
Also I need npm package with this data, which will be updated by somebody.

[2018-07-24 22:49] fralewsmi commented on #266
Fixed in https://github.com/twbs/bootstrap/releases/tag/v4.1.3

[2018-07-31 01:41] yanni4night opened #279 "Would you please explain why recommending browserslist key in package.json instead of a .browserslistrc file"
I think a .browserslistrc file is a more flexible way, so why recommending package.json? `package.json` is for npm not browserslist.

Then close this issue.

[2018-07-31 01:46] ai commented on #279
Hi. Good question.

To be honest, we didn't really recommend `package.json`. Both ways are OK.

We mention `package.json` more often just because it is more popular.

[2018-07-31 01:46] #279 closed

[2018-07-31 05:00] yanni4night commented on #279
Got it, thanks.

[2018-08-09 17:10] CervantesVive opened #280 "Unable to install browserlist, npmjs returns 404"
Im trying to install browserlist this morning and it is failing

○ → curl -i https://registry.npmjs.org/browserlist
HTTP/1.1 404 Not Found
Date: Thu, 09 Aug 2018 17:09:24 GMT
Content-Type: application/json
Content-Length: 21
Connection: keep-alive
Set-Cookie: __cfduid=d174b70614bd0ecda3c91af2a4d468e361533834564; expires=Fri, 09-Aug-19 17:09:24 GMT; path=/; domain=.registry.npmjs.org; HttpOnly
cach

[2018-08-09 17:53] ai commented on #280
Sorry, this is npm servers issue. I have no power to fix it.

[2018-08-09 18:18] CervantesVive commented on #280
Understood @ai . Any suggestions how can I go about installing browserlist while npm fixes their issues?

I am actually trying to run `npx browserlist`

[2018-08-10 01:38] ai commented on #280
Done https://github.com/browserslist/typo

I need npm approve to publish npm package with small difference in the names.

[2018-08-10 03:52] joshingmachine opened #282 "Should CLI be able to read exported array from JS file?"
Using the `--config` flag on the CLI allows you to specify a path to a Browserslist file.
https://github.com/browserslist/browserslist/blob/d006526fd9300b6301fb5f0748becb3cc1eb033c/cli.js#L12

Usually that file is either `package.json`, `.browserslist`, or `browserslist`. However, I'm creating a [shareable Browserslist config](https://github.com/browserslist/browserslist/tree/d006526fd9300b6301fb5

[2018-08-10 04:45] ai commented on #282
Hm. My main concern is that Browserslist config should be readable by any software, not only JS based.

But it is a good point, that it doesn't work for sharable configs.

Sure me you use case, and if we have no better solution, I will change my mind.

[2018-08-10 11:50] dotnetCarpenter opened #283 "Counter intuitive filtering"
`browserslist` uses a logical `OR` when combining queries which I think is very unfortunate and I did not find any discussion about this in the issue list here.

From the [README Notes](https://github.com/browserslist/browserslist#notes):

### Problem
When specifying a set of browsers, it's natural to assume that you create selection/filter of all browsers while constructing your query.

Query exa

[2018-08-10 12:13] Schweinepriester opened #284 "Should "extends @company/browserslist-config/desktop" work?"
Hi!

We have published our browserslist-config as `@company/browserslist-config` and are now trying to reference specific files:

[code]

[code]

This fails:

[code]

Without referencing works:

[code]

==> Should `"extends @company/browserslist-config/desktop"` work?

---

Imho <https://github.com/browserslist/browserslist#shareable-configs> doesn't state that scoped packages and referencing spec

[2018-08-10 14:34] ai commented on #283
Let's just add `and` operator to config parser. Do you want to send PR?

[2018-08-10 14:35] ai commented on #284
Hm, good idea. Do you want to send PR?

[2018-08-10 14:48] Schweinepriester commented on #284
Sure!

For the record, adding `|\/` also allows `@company/browserslist-config/` (trailing `/`), but that doesn't seem to be a problem.

[2018-08-10 14:58] rDr4g0n commented on #131
While I would LOVE to support mobile devices for every enterprise web app I build, that is often a low priority when building apps designed to be displayed on giant screens in a NOC, or for exploring complex datasets, or editing dashboards, or viewing and managing giant node graphs. This doesn't even get into security issues with enterprises who only allow their apps to be accessed internally. Whi

[2018-08-10 15:00] ai commented on #131
Remove it one by one. It is a bad behavior and should not be sorted by syntax sugar. Sugar only for good kids 😄.

[2018-08-10 15:04] dotnetCarpenter commented on #283
If there is a will to merge it, I will take a look.

Perhaps it is a good idea to get a release candidate with the PR and then I
can take a look at Babel and see if that is enough to configure the
transpiling of js `let`/`const` statements, which is my current use-case?

My point being, that the implementation have to be useful, end-to-end, for
at least one use-case.

On 10 Aug 2018 16:34, "Andrey

[2018-08-13 01:37] ai commented on #243
Work in the process https://github.com/browserslist/browserslist/pull/286

[2018-08-13 01:38] #275 closed

[2018-08-13 01:38] #278 closed

[2018-08-14 02:30] joshingmachine commented on #282
My main use case is that with my shareable Browserslist config, I would like to provide users with a single, simple command to view which browsers the config currently targets. Something like:

It would even be nice to be able to omit `index.js` with
[code]

My primary goal is to find a simple and shareable way to list the browsers that are targeted by a shareable Browserslist config. And since th

[2018-08-14 02:48] ai commented on #282
There is much faster way.

1. Put `.browserslist` config to npm package of sharable config.
2. Add `extends browserslist-config-joshingmachine` in this config.

What do you think about it? We can create Browserslist config boilerplate to share this best practices.

I am trying to avoid JS based Browserlist to allow the use of Browserslist in Go/Ruby libraries. I use it in Autoprefixer Rails.

[2018-08-14 03:04] joshingmachine commented on #282
I'm sorry, I'm not sure if I follow your suggestion. Do you mean
[code]
?

[2018-08-14 03:34] ai commented on #282
@joshingmachine yeap. This `.browserslist` will be used just to load `index.js` in CLI test

[2018-08-22 09:24] ai opened #289 "Add `current node` query"

[2018-08-22 09:51] ai commented on #289
Done 40b4816

[2018-08-22 09:51] #289 closed

[2018-08-23 18:44] awexfwex commented on #131
Flip-side, I'm trying to build for mobile only. This seems like an implementation decision you should be leaving up to us. I have writed code b4.

[2018-08-26 13:28] ylemkimon opened #290 "Provide mapping to Chromium versions for Chromium-based browsers"
Most tools use only major browsers version to detect features. For instance, Babel (`babel-preset-env`) only uses `Android`, `Chrome`, `Edge`, `Firefox`, `IE`, `iOS`, `Safari`, `Node` versions for detecting which transforms to include. ([`babel/babel`/`packages/babel-preset-env/src/targets-parser.js`#L32-L42](https://github.com/babel/babel/blob/master/packages/babel-preset-env/src/targets-parser.j

[2018-08-27 05:54] ylemkimon commented on #290
@ai Babel (and possibly eslint-plugin-compat in the future) uses [Kangax compatibility table](http://kangax.github.io/compat-table/es6/), which doesn't provide data for those browsers. (https://github.com/kangax/compat-table/issues/1001, https://github.com/kangax/compat-table/issues/1247) I've opened an issue at https://github.com/babel/babel/issues/8545 to request a feature to warn about them. Bu

[2018-08-27 06:10] ai commented on #290
There is one problem with adding this mapping to Browserslist. In case of Babel QQ works same as Chrome. But in case of other feature (like payment API) it could work in different way.

So with adding it to Browserslist we will make Babel/Kangax life easier, but in other hand we will make life much harder for other Browserslist’s users (like ESLint plugin which will warn you if some of your target

[2018-08-27 18:54] ylemkimon commented on #250
I agree about their importance, as I myself live in South Korea, where IE usage is very high, due to non-standard components using ActiveX.

But Baidu Browser (`baidu`) and QQ Browser (`and_qq`) in caniuse data seem to be mobile browsers, where the discussion seems to be mainly based on PC browsers. And I can't seem to find what browsers do Baidu Browser 1.2 and QQ Browser 7.12, which are only ver

[2018-08-27 21:04] ai commented on #290
If we will have this mapping data, patching Kagnax will be very easy. And it will keep Browserslist API free from hacks and avoid other Kangax non-Browserslist users from making the same mistake of ignoring non-white browsers.

Why you think you should use it here, but not in Kagnax?

[2018-08-29 13:53] mattyclarkson opened #291 "Maybe, support a `react-native` alias."
React Native uses JavaScriptCore from WebKit on Android.

This uses the revision from [facebook/android-jsc](https://github.com/facebook/android-jsc/blob/master/fetch_sources.sh), which at the time of writing is [r174650](https://trac.webkit.org/changeset/174650/webkit).  That commit was committed on 13 Oct 2014 at 10:33:28.

So to make **sure** that your published code will work on *all* React Na

[2018-08-29 18:43] ai commented on #291
I think it is useful, but `since 2014-10-13` is not the best value for alias.

It will include Firefox, Opera, UC from 2014. We need more real value for alias. What engine do they use?

[2018-08-29 19:57] mattyclarkson commented on #291
They use JavaScriptCore from WebKit. It would be roughly what is in iOS 9 Safari, however, it's not really because they just used a specific revision. I can check if the revision matches up with a particular tag.

[2018-08-29 20:16] ai commented on #291
Yeap, let's use closest Safari version to this revision.

But for there future I need some instructions how to update it. Where to look, what to compare.

[2018-08-29 21:16] mattyclarkson commented on #291
I can sort out a script to do that tomorrow, hopefully

[2018-08-30 12:30] mattyclarkson commented on #291
Hmm, this creates problems as it does loads of translation that isn't needed. React Native automatically does some translation of the `node_modules` for that old JSC. Let me investigate a little more.

[2018-08-30 12:36] mattyclarkson commented on #291
https://github.com/facebook/metro/blob/900bcb0bf8a287521428c70675617e08d779e2de/packages/metro-react-native-babel-preset/src/plugins.js#L13-L36

The only one that is missing is `transform-new-target`. Not sure if this is useful to be set as part of `babel-preset-env` or `babel-preset-react-native` 🤔

[2018-09-05 15:39] ai opened #292 "Do not look into node_modules"

[2018-09-10 04:25] jaydenseric opened #293 "Allow > and >= for node"
Using a query like this:

[code]

<img width="286" alt="screen shot 2018-09-10 at 2 20 09 pm" src="https://user-images.githubusercontent.com/1754873/45276341-f766b480-b504-11e8-8ab2-9dcbd07e9505.png">

Results in an error like this:

[code]

<img width="237" alt="screen shot 2018-09-10 at 2 20 21 pm" src="https://user-images.githubusercontent.com/1754873/45276334-e61da800-b504-11e8-8bee-da9df1e173

[2018-09-10 05:12] ai commented on #293
Sure, good idea.

Do you want to send PR?

[2018-09-10 15:08] jpirkey opened #295 "Targeting Firefox for iOS"
I see that there is a `and_ff`, but no `ios_ff` which appears to be using completely different versioning.  Their current version is [13.2](https://itunes.apple.com/us/app/firefox-web-browser/id989804926?mt=8).  Is there a way to target that?  If not, what are your suggestions?

[caniuse](https://caniuse.com/usage-table) doesn't appear to break it out either unless I am missing something.

**User

[2018-09-10 15:35] ai commented on #295
Yeap, but I have no control on it. All browsers names are coming from Can I Use. And I agree that all names do not cover the real market of browsers.

But you need to open issue there 😣

[2018-09-10 15:35] #295 closed

[2018-09-10 15:36] jpirkey commented on #295
Sounds good.  Thanks for the quick response.

[2018-09-12 23:18] Yankovsky opened #296 ""maintained node versions" crashes http://browserl.ist/"
You can try it yourself http://browserl.ist/?q=maintained+node+versions
`Internal Server Error`

[2018-09-12 23:19] ai commented on #296
Sorry, it is not the official website. Report issue here https://github.com/jonrohan/browserl.ist

[2018-09-12 23:19] #296 closed

[2018-09-13 01:55] bdkjones opened #297 "CLI Request: Add "--all" option"
I'd like to be able to run a command like this:

    browserslist --all ">0.5%, last 2 versions, not dead"

And have browserslist return BOTH the list of supported browsers AND the coverage statistics for the US and world, all in one fell swoop. Right now, to get this information, I must run three separate commands:

    browserslist ">0.5%, last 2 versions, not dead"
    browserslist --coverage "

[2018-09-13 01:56] bdkjones commented on #297
This proposal would also not break existing consumers of browserlist's output, because the extra two lines would not appear unless the `--all` flag is passed.

[2018-09-13 07:51] ai commented on #297
Interesting. Can you tell me about your use case?

I am thinking about the more clear name of the argument. And I do not like to [lock some specific country](https://github.com/browserslist/browserslist/pull/298/files#diff-2cce40143051e25f811b56c79d619bf5R98).

[2018-09-13 14:50] bdkjones commented on #297
I have a GUI app where I want to display both the supported browser list AND the overall coverage stats based on the user’s chosen setting. (Similar to http://browsersl.ist ) This app is not in a JavaScript environment, so I can’t use the api directly; I need to go through the command line.

I’d like to get all the info in one shot because that lets me update the UI in real-time as the user types

[2018-09-13 15:02] bdkjones commented on #297
I have a GUI app where I want to display both the supported browser list AND the overall coverage stats based on the user’s chosen setting. (Similar to http://browsersl.ist ) This app is not in a JavaScript environment, so I can’t use the api directly; I need to go through the command line.

I’d like to get all the info in one shot because that lets me update the UI in real-time as the user types

[2018-09-13 15:29] bdkjones commented on #297
And thanks for considering the request! It would really help me and I don’t want to maintain my own fork. If we can come up with a better flag name, I’ll modify the PR.

[2018-09-13 20:06] ai commented on #297
Yeap, reasonable use case 👍

Maybe we should use JSON format there?

What do you think about `browserslist --json --coverage=en,ru,world`?

[2018-09-14 02:42] bdkjones commented on #297
I'll try to knock it out next week. Thanks!

[2018-09-17 21:09] amoses12 commented on #266
So sorry to keep this issue going, but I'm getting the same errors in a different situation. I'm running on bootstrap 3.3.7 and the solution works just fine for me. But when I push it to github and someone else pulls it, they get the "Error: Module Build failed: BrowserslistError: Unknown browser query 'dead'" error. How is it possible that we're running the exact same solution with the exact same

[2018-09-17 21:14] ai commented on #266
@amoses12 ask them to do `rm -Rf node_modules && npm i`

[2018-09-17 21:20] amoses12 commented on #266
@ai thank you. I may try that in a minute, but now I've got 3 people that it's working for and 2 that it's not. We're trying to figure out if they're running different versions of node or are missing a dependency. I'll update if I find a solution.

[2018-09-18 15:29] benjclark commented on #292
I personally have found that `npm i -D browserslist` solves this. It was a peer dependency for me previously and consequently it seemed to scan node_modules when looking for configs.

[2018-09-18 15:29] Fer0x opened #300 "Support environments for shareable configs"
I would like to keep my shareable config similarly to package.json field "browserslist", like this:

[code]

For now it's impossible because of error: `config exports not an array of queries `.

[2018-09-18 20:39] ai commented on #300
Good idea.

I am not sure when I will fix it  (because most of tools doesn’t support environments, it is very advanced and rare feature). If you want it quicker, you can send PR.

[2018-09-18 20:44] Fer0x commented on #300
@ai ok, I'll take a look at it soon.

[2018-09-24 20:20] Timer opened #301 "Remove package warning"
Can the package warning on `browserslist@1.7.7` please be removed until `css-loader` uses a new enough version of `postcss-merge-rules` and `autoprefixer` (or [webpack 5 comes out](https://github.com/webpack/webpack/milestone/18))?

[code]

A patch to the old `browserslist` with a friendlier error on a parsing problem would probably be better than a one-time warning during package install.

Thanks

[2018-09-24 20:22] #301 closed, assigned to nobody

[2018-09-27 14:10] #291 closed

[2018-09-27 19:07] ai commented on #291
Why did you decide to close it?

[2018-09-28 13:42] mattyclarkson commented on #291
As the only transformation needed is `transform-new-target` for the Android builds I don't think it's worth the maintenance on this side.

Really the bug is on the React Native `babel-preset-react-native` which should include that transformation for Android.

[2018-10-01 15:38] GreLI opened #302 "Not all browser versions counted"
Query like `> 4% in RU` returns only 4 browsers:
[code]
However, if one run total statistics, we'll see that Firefox of all version has more than 4%:
[code]
(actually StatCounter says it has all 8%).
It really prevents Autoprefixer from applying `-moz-` prefix to some rules like `user-select`.

[2018-10-01 16:01] ai commented on #302
Yeap, because `> X%` is a filter which applies to every version. It is not a sum, but the criteria for every version.

In other words: “return me please every version, which has more than 4%”.

[2018-10-01 16:01] #302 closed

[2018-10-01 20:13] GreLI commented on #302
Well, it's not expected behavior.

[2018-10-01 20:15] ai commented on #302
I am open for docs changes :)

[2018-10-05 18:36] ai commented on #297
`---coverage=x,x,x` support done 9fd90d8

[2018-10-05 20:38] ai commented on #297
JSON output format was added:

[code]

@bdkjones I am ready to release it when you will prove output format

[2018-10-05 20:54] bdkjones commented on #297
Looks great to me! Thanks for knocking this out.

[2018-10-05 22:07] ai commented on #297
@bdkjones I am writing release announce tweet. Is it for CodeKit?

[2018-10-05 22:08] bdkjones commented on #297
I'll be using the feature in CodeKit for sure! I don't have any sort of "CodeKit" account on Twitter though. I just use my personal handle: @bdkjones

[2018-10-05 22:13] ai commented on #297
Released in 4.2

[2018-10-09 14:07] chentsulin opened #303 "> 0.2% resolve browsers which only have < 0.2 coverage"
https://browserl.ist/?q=%3E0.2%25

`0.16%`, `0.19%`, `0.09%`, `0.01%`, `0.19%` should not be considered as `> 0.2%`

<img width="1363" alt="2018-10-09 10 01 24" src="https://user-images.githubusercontent.com/3382565/46674650-46d8f700-cc0f-11e8-83be-5c6e6968a864.png">

[2018-10-09 14:12] ai commented on #303
`> 0.2%` means **every version**, which has market share more that `0.2 %`.

It **not** make a sum of versions with share `0.2%`, since there is no single way to make this sum.

[2018-10-11 02:38] kpman commented on #303
@ai I don't understand why this issue is closed.

The **Chrome 29**'s market share is **0.16%**, which the query is `> 0.2%`.
As far as I know, the browser's single version market share under this value should not be queried. So the **Edge 16** and **Firefox 60** should not be queried neither.

[2018-10-11 05:31] ai commented on #303
@kpman good point. I missed the right  sign in origin issue.

[2018-10-11 23:45] JMitnik opened #304 "Unknown browser query `var browserslist = require('./')`"
Hi,
I saw a similar issue, but found that none of those solutions could be applied here, so I thought I would try this again. This problem seems to come up in every project, more or less, and in directories without any specific `package.json` either; running `npx browserslist` returns the error of `Unknown browser query var browserslist = require('./')`, and when running Gatsby or some pre-built w

[2018-10-12 15:46] ai commented on #304
Something bad with config. Somebody put a JS there. Maybe Gatsby uses Browserslist API in the wrong way.

Can you show your `package.json`, `.browserslistrc`, and `browserslist` files?

[2018-10-13 23:11] ai commented on #303
I tested in CLI and got:

[code]

Everything as expected. Maybe [browserl.ist](https://browserl.ist) uses old Browserslist? It is not the official web interface. (it is always better to use CLI to have the same `caniuse-lite` version)

[2018-10-13 23:11] #303 closed

[2018-10-13 23:11] ai commented on #118
I closing it since cache gives good enough result

[2018-10-13 23:11] #118 closed

[2018-10-13 23:14] ai commented on #283
Closing this issue as duplicate for #243

[2018-10-13 23:14] #283 closed

[2018-10-13 23:15] ai commented on #290
I am closing it since nobody decided to create a data

[2018-10-13 23:15] #290 closed

[2018-10-13 23:15] #297 closed

[2018-10-16 01:30] Cherry opened #306 "Unexpected parsing of `not` query with Android stats"
If you have a `browserslist-stats.json` like the following:
[code]
And a browserslist config like so:
[code]
The output of `npx browserslist` is
[code]
As you expect to see, it excludes all versions of Firefox (specifically versions 62 and lower) even though they're greater than 0.5% in stats, however, Android version 66 is still being targeted.

The expected output with this example config would

[2018-10-16 03:46] ai commented on #306
Why do you think that this behaviour is unexpected?

This is how I thought when I created this system. When you asked `> 0.5% in my stats, not firefox <= 62`:

1. Get all browsers `> 0.5% in my stats`
2. Next, remove all `firefox <= 62` from previous step

[2018-10-16 03:49] Cherry commented on #306
That's exactly what I expected to happen, and it does with the `not firefox <= 62`.

`not android <= 66` and `not and_chr <= 66` don't remove the `android`/`and_chr` targets though, which, as per the previous example, I would have expected to happen.

[2018-10-16 03:54] ai commented on #306
Got you. I asked about `android 66`.

I will look at it this week.

If you want to fix it faster, you can debug it yourself (it is simple few files project).

[2018-10-16 22:09] Cherry commented on #306
I've found the issue:

`browserslist` is only ever aware of the latest Android version `67` (ignoring 2-4) at time of writing, and `and_chr` version `69`, as this is all that caniuse reports in its data. `caniuse` doesn't appear to report any historical data for android versions as it does with desktop browsers. As my stats are for the last 90 days or so, I'm picking up versions that caniuse and t

[2018-10-16 22:19] ai commented on #306
OH :( I hate instability of `caniuse-db` :(

I will think

[2018-10-20 03:31] #284 closed

[2018-10-20 05:08] ai commented on #284
Released in 4.3

[2018-10-20 06:03] ai commented on #306
I found maybe the better way. What if we will normalize custom statistics to this `caniuse` version?

Here is a commit with normalization: 449bf6c

What do you think?

[2018-10-21 14:51] Cherry commented on #306
This looks like a good solution. 👍

[2018-10-22 03:40] ai commented on #306
Released in 4.3.1

[2018-10-22 04:16] ai commented on #306
Released in 4.3.1

[2018-10-22 04:53] ai commented on #306
Released in 4.3.1

[2018-10-22 05:14] ai commented on #306
Released in 4.3.1

[2018-10-22 05:15] #306 closed

[2018-10-22 18:20] yukulele opened #308 "Support relative month or/and year fraction"
`"last 2 years"` is supported

month should be supported:
examples:
* `"last 18 months"`
* `"last 1.5 years"`

[2018-10-22 19:21] ai commented on #308
@yukulele do you want to send PR with `1.5 years` support? https://github.com/browserslist/browserslist/blob/master/index.js#L436-L441

I am not sure that somebody will use `month` (the query is not really popular). Unnecessary code for `month` will increase client-side bundle. I need use cases for `month`.

[2018-10-23 00:29] yukulele commented on #308
https://github.com/browserslist/browserslist/pull/309

[2018-10-23 02:19] deepkolos opened #310 "BrowserslistError: Unknown version 11 of Node.js"
error
[code]

cfg
[code]

[2018-10-23 03:51] y-ogura opened #311 "'maintained node versions' referring pennding Node version"
Nuxt.js build error, because of 'maintained node versions' referring pennding Node version.

show this error message.
[code]
![2018-10-23 12 50 15](https://user-images.githubusercontent.com/30112982/47334583-5271f680-d6c2-11e8-8ae6-17fb85cb3e02.png)

[2018-10-23 05:32] sibiraj-s commented on #311
<img width="1411" alt="screenshot 2018-10-23 at 11 02 16 am" src="https://user-images.githubusercontent.com/20282546/47337795-200ccd00-d6b3-11e8-9a38-77735d79c022.png">

[2018-10-23 06:50] dangreen commented on #311
All my CI builds fall with this error.

[2018-10-23 07:42] CosticaPuntaru commented on #311
a ugly hack to allow you to work on localhost:

node_modules/browserslist/index.js:678
![image](https://user-images.githubusercontent.com/6418405/47344064-39f8e080-d6b0-11e8-8338-505be0b24498.png)

[2018-10-23 08:14] andreasradloff commented on #311
Changing `maintained node versions` to `node 10` in your .browserslistrc works as a temp fix.

[2018-10-23 09:17] ai commented on #311
Oh. I waked up and need 15 minutes for breakfast. Then I will investigate the source of the error and how to fix it.

[2018-10-23 09:19] dangreen commented on #311
@ai https://github.com/browserslist/browserslist/pull/312

[2018-10-23 09:41] ai commented on #311
Fixed in 4.3.2

[2018-10-23 09:41] #311 closed

[2018-10-23 09:52] guillaumervls opened #313 "maintained node versions fails"
Hi,

Currently [https://browserl.ist/?q=maintained+node+versions](https://browserl.ist/?q=maintained+node+versions) fails.

Am I missing something ?

Cheers

[2018-10-23 09:53] ai commented on #313
It is non-official website. Create an issue in their repo.

[2018-10-23 09:53] #313 closed

[2018-10-23 09:53] ai commented on #313
The reason is because they use old Browserslist

[2018-10-24 13:25] burnjohn opened #314 "Can't install the latest library version"
Guys, our build fails because we can't install the latest version.

[code]

[2018-10-24 13:38] ai commented on #314
Sorry, it is temporary problem of npm servers. Report issue to them. I can’t do anything here :(

[2018-10-24 13:38] #314 closed

[2018-10-25 05:15] gauntface opened #315 "last X versions & greater than seem to only favor last X versions"
I've been trying the query `last 2 versions, > 1%`.

https://browserl.ist/?q=last+2+versions%2C+%3E+1%25

I'm reading it as, pick the last 2 versions that have more than 1% usage, but it seems that's not how it works. Any ideas what I'm doing wrong?

Thanks,
Matt

[2018-10-25 09:43] ai commented on #315
Queries combine together with `OR`

[2018-10-25 09:43] #315 closed

[2018-10-25 09:44] ai commented on #315
Do you have the idea, how we can improve docs?

[2018-10-25 09:47] ai commented on #315
Here is PR with `and` query #286

You can finish it off you want

[2018-10-25 14:11] sellou commented on #266
Bootstrap 4.1.3
css-loader 1.0.0
webpack 4

I fixed the problem by moving the browserlist fomr package.json to .browserlistrc file.

[2018-10-25 23:30] ai commented on #280
`browserlist` was released and now will show a warning

[2018-10-25 23:30] #280 closed

[2018-10-27 18:03] xiaoxiangmoe opened #316 "Feature Request: browserlist lockfile"
Target browsers changes automatically over time. We need lockfile to keep building compatibility and control update.

[2018-10-27 18:56] ai commented on #316
You can use `yarn.lock` or `package-lock.json`. The same `browserslist` and `caniuse-lite` will always return the same result (expect `last 2 years` query).

Will this solution work for you?

[2018-10-27 22:30] SakuraComputing commented on #276
On my react project removing "not dead" from browserlist worked for me thank you kmshelke

[2018-10-27 22:45] ai commented on #276
@ SakuraComputing not the best to deal with this issue.

The best way is to find all Browserslist < 4 in `npm ls` and find who depends on it. The reason of this error is in outdated dependencies with few years old Browserslist in some libraries.

[2018-10-29 19:50] gauntface commented on #315
I know it sounds stupid, but adding some examples to browserl.ist and / or a list of available queries would have been perfect.

[2018-10-29 19:52] ai commented on #315
@gauntface sure, but `browserl.ist` is not official, so I can’t do anything. You can open an issue https://github.com/jonrohan/browserl.ist

[2018-10-31 16:27] paolocavanna commented on #266
Another way to fix the problem is to move the browserlist config from `package.json` to `.postcssrc.js`.
` "autoprefixer": { browsers: [ "extends browserslist-config-motork" ] }`

[2018-10-31 17:18] ai commented on #266
@paolocavanna sorry, but it is very bad way. Autoprefixer officially do not recommend it by few important reason.

First, there are a lot of different tools, which use Browserslist. If you will use `browsers` option, different tools in you build pipeline will have different browsers, it is cause a lot of problems.

Second, it is very likely that you have multiple Autoprefixer in your build pipelin

[2018-10-31 20:07] paolocavanna commented on #266
@ai you're totally right. Mine was just a temporary patch on a a project I'm working on and I didn't take into consideration the (now evident) trade offs.

[2018-11-07 05:40] JamiesonRoberts commented on #316
I would question the wisdom of this. Yes target browser change over time, but so do browser usage stats. Most browsers auto update these days, so unless you specifically need to support specific browser sets, there isn't much use for this. Also, with the rules you can explicitly set minimum version requirements.

For example. `ie >= 8` would include IE8 through IE11. Yes the documentation speaks t

[2018-11-07 05:43] JamiesonRoberts commented on #300
@Fer0x Could the same pattern as eslint, prettier, and babel be used, where you can have use a `.browserlistrc.js` or `browserlist.config.js` file in your repo? This would keep it fitting the file patterns despite being different projects.

I know for example Prettier and I think esLint use Comsiconfig (https://github.com/davidtheclark/cosmiconfig) to handle finding the files. Happy to take a stab

[2018-11-07 13:45] ai commented on #316
@JamiesonRoberts do you lock `package-lock.json` or `yarn.lock`?

Browserslist doesn’t download browsers stats. It uses browsers stats from `caniuse-lite` npm package. If you lock `caniuse-lite` version by `package-lock.json` or `yarn.lock` you will have the same browsers every time.

[2018-11-07 13:48] ai commented on #300
@JamiesonRoberts Browserslist can’t use JS configs and Comsiconfig, because Browserslist config should be able to be used by non-JS tools (like AutoprefixerRails has Ruby code to load Browserslist config)

[2018-11-07 16:45] JamiesonRoberts commented on #300
@ai Maybe fair about cosmiconfig, but it should be possible to handle the array from a module.export the same as the package.json version. Ultimately as long as it exports an array would it not be possible to load from a .js file?

[2018-11-07 16:46] JamiesonRoberts commented on #316
@ai Yep I do. I was more trying to provide a constructive option for the original person asking about keeping fixed support levels regardless of the stat set being used.

[2018-11-07 23:32] ai commented on #300
@JamiesonRoberts if you want just `dev` vs `production` you can use Browserslist environments:
https://github.com/browserslist/browserslist#environments

Maybe it will be enough. Or you want completely dynamically queries?

[2018-11-08 13:58] JamiesonRoberts commented on #300
@ai my preference is dynamic queries or setting things programmatically rather than relying on specific key in an object to match. That way I can retrieve the values in several different scenarios, rather than just simple ones like above.

[2018-11-08 14:18] ai commented on #300
1. I do not like to add features without real use case. Often you just add features and nobody will use them later (but you still need to support them).
2. How Autoprefixer Rails (written on Ruby) will read this config?

[2018-11-10 22:26] Richienb opened #317 "Query text for supporting MDC Web"
I'm just wondering what query code should I use to match all versions supported by the Material Design Components for the Web library?

[2018-11-10 22:29] ai commented on #317
Sure. What browsers do they super?

[2018-11-11 15:33] JamiesonRoberts commented on #300
@ai You definitely made me think on that this one, so here is my rational (and I'm sorry for the long read)

I work at an agency, which means we have hundreds of repos/projects. Over time we updates to projects happen and are deployed etc. While we do have a set list of browser we support based on the Browserlist spec, over time that does change as a core spec. Now updating hundreds of repos becom

[2018-11-11 23:29] ai commented on #317
[code]

I added `not dead` because I think MDN ignores old browsers without security updates (like Blackberry).

[2018-11-11 23:29] #317 closed

[2018-11-11 23:31] Richienb commented on #317
Is it possible to express that in a single line, such that it would be possible to enter it in [browserl.ist](https://browserl.ist/)

[2018-11-11 23:33] ai commented on #317
Sure. `last 2 versions, not IE 10, not IE_Mob 10, not dead`

[2018-11-11 23:34] Richienb commented on #317
Thanks!

[2018-11-14 00:35] ai commented on #300
Good use case. Don’t worry, the rule of all my projects is to always suggest a solution for every real use case. So we will find/create a solution for you.

Can you tell me, why combining queries will not work for your case:

[code]

[2018-11-14 13:59] JamiesonRoberts commented on #300
I'd be good with that approach. Would it have the ability to be pulled in via an NPM package or similar package manager?

EX: point it to a package name and then it would look there for either a `.browserlistrc` or the `package.json`?

One thought would be how esLint handles it with a defined naming convention, they require your package to be named `eslint-config-{name}` so in this case it could b

[2018-11-14 19:47] mandajoan opened #318 "BrowserlistError - Create-react-app"
It looks like there is an outdated dependency in Browserlist that throws a build error when using CRA and other node scripts for builds.

[code]
The error pointed to a my App.css file and from t[his stack-overflow post](https://stackoverflow.com/questions/52939103/browserslisterror-unknown-browser-query-dead-in-react-express-app)  (they're not using CRA ) they encountered a similar issue. I had to

[2018-11-14 19:52] ai commented on #318
It happens if you have another tool, which use very old Browserslist.

Check at `npm ls` who uses Browserslist < 4. We need force them to update (it is just unsafe to use old Browserslist).

[2018-11-14 19:55] mandajoan commented on #318
Ah ok, so it another package using an old dependency vs an internal browserlist issue? Got it 😊 Well, I will send a strongly worded github issue comment their way then!

[2018-11-14 20:54] ai commented on #300
Sure, in `extends browserslist-config-company`, `browserslist-config-company` is npm package name.

Nope, it looks for `index.js`. Here is full doc https://github.com/browserslist/browserslist#shareable-configs

Yeap, same in Browserslist. You _must_ to have `@NAME/browserslist-config` or `bowserslist-config-NAME` for security reasons.

I do not want to have different syntaxes in `package.json`, `

[2018-11-15 04:20] JamiesonRoberts commented on #300
@ai Well, that would definitely look to do it! I'll try it out and let you know if I have any problems with it! Thank you for your time and good discussion!

[2018-11-15 06:56] crusoexia commented on #310
@deepkolos  I have the same issue. What do you mean 'node-releases data outdated'?

[2018-11-15 16:30] ai commented on #310
@crusoexia check `npm ls` and find `node-releases `1.0.0-beta…` versions. If you have it, you need to update your npm dependencies.

[2018-11-20 12:19] ehmicky opened #319 "[Feature suggestion] Support `package.json` `engines.node` field"
Suggestion for Node.js: default to `package.json` `engines.node` field (if present) instead of `last 2 versions`.

Use case: I am writing Node.js libraries using Node `11` syntax, but compiling with Babel in order to support Node `>=6`. I am declaring Node.js support with `engines.node`. Babel `preset-env` uses `browserslist`. Currently I need to duplicate the information from `engines.node` to a

[2018-11-20 13:23] ai commented on #319
Right now many client-side projects use Browserslist. If we will switch defaults from `last 2 versions` to `package.engine` all client-sude projects without browsers config will not work in browser.

I understanding your case, but this default will hurt too many users and is not expected behavior for any client-side projects authors.

We need different solution for your problem.

[2018-11-20 13:31] ehmicky commented on #319
This could be opt-in by using a configuration option.

Do you think this is a good feature idea? If you think this is not worth the effort, I'll close the issue.

Thanks for the help!

[2018-11-20 13:35] ai commented on #319
We can introduce one extra query like `package.json node`, but I don't have good idea about query name (it should be short and clear)

[2018-11-20 13:59] ehmicky commented on #319
Some ideas:
  - `used node`
  - `node in use`
  - `package node`
  - `node in package`
  - `engines node`

[2018-11-24 08:03] fabb opened #320 "Combining `not` with Language Code leads to Wrong Results"
For example `last 1 baidu version, not <2% in AT` still returns `Baidu Browser 7.12` Even though it has 0% usage in AT. When I leave away the country code, it works as expected.

https://browserl.ist/?q=last+1+baidu+version%2C+not+%3C2%25+in+AT

https://browserl.ist/?q=last+1+baidu+version%2C+not+%3C2%25

[2018-11-24 08:06] ai commented on #320
Open issue in `browserl.ist` to update Browserslist (it is not official package). This issue could be already fixed (I fixed similar issue recently).

[2018-11-24 08:19] fabb commented on #320
Thanks! I wasn‘t aware that it is a separate project. Filed an issue there: https://github.com/jonrohan/browserl.ist/issues/108

[2018-11-24 08:33] fabb commented on #320
Ah ok, then maybe 449bf6?
https://github.com/browserslist/browserslist/commit/449bf6c9d5a08e9a6f9e56ee11582e18b07eb099

[2018-11-24 08:46] ai commented on #320
Exactly 😄 you are good in finding commits

[2018-11-24 09:35] fabb commented on #320
Nah, you said you fixed it recently, and browserl.ist uses browserslist 4.2.1, and according to the releases of this repo there have only been 4 releases since then, so I looked through the release notes in CHANGELOG.md that you updated in each release tagged commit, and found out that you probably meant release 4.3.1, as the changelog of the other releases looked unrelated. Then I looked at the c

[2018-11-24 10:19] fabb commented on #320
I tried it with version 4.3.4, the bug is NOT yet fixed.

[2018-11-26 10:29] HerrBertling opened #321 "Unclear sentence in readme"
In the "best practices", the readme says:

I don't quite get the last sentence. Does it mean "Choosing a percentage above 0,2% could make popular browsers even more popular,…"? It could also mean "Using `0,2%` makes…" which I guess is not the intention here, right?

If that sentence should be a hint to support a more diverse browser landscape, I'd phrase it a bit differently:

Does that make sense

[2018-11-26 10:40] ai commented on #321
I like new text. Please send PR to save your name in project history.

[2018-11-26 10:40] #321 closed

[2018-11-27 01:45] justwarren commented on #276
@SakuraComputing it's not advisable because your `node_modules` has a very high possibility to be updated whenever you do `npm install` or `update`.

[2018-11-27 06:58] ai commented on #320
OK, I will try to fix it on this week day

[2018-11-29 09:01] cikichen opened #323 "BrowserslistError: Unknown browser query `dead`"
[code]

env

[code]

[2018-11-29 09:51] aurelijusrozenas commented on #323
Not sure this is the place (maybe webpack bug).
I have similar config (with `not dead` option): `npx browserslist` works fine, bet weback throws

Config:
[code]
Tried to clear node_modules - did not help.

[2018-11-29 11:11] cikichen commented on #323
'postcss-cssnext' has been deprecated，may be this reason?

[2018-11-29 15:34] ai commented on #323
This error happens because of old Browserslist in your build pipeline.

Check `npm ls` for Browserslist < 4 and update dependency which load it.

Yeap, it could be a reason

[2018-11-29 15:34] #323 closed

[2018-12-01 06:02] ai commented on #320
Fixed 0119a36

[2018-12-01 06:02] #320 closed

[2018-12-01 06:15] ai commented on #320
Released in 4.3.5.

[2018-12-01 06:41] fabb commented on #320
Awesome, thank you 🙏

[2018-12-01 07:55] fabb opened #324 "Usage Query in Country Code returns Browsers Below the Threshold"
Sorry to bother you again, but I‘ve got one more bug with language codes. In a query like `>0.1% in AT` some browsers are returned that are below the threshold:

https://browserl.ist/?q=%3E0.1%25+in+AT

[code]

[2018-12-01 08:00] ai commented on #324
I think it is https://browserl.ist issue (sorry, it is non-official project, you should open issue in their repo). It shows global statistics for each browser.

Here are my local results (with latest Can I Use):

[code]

[2018-12-01 08:00] #324 closed

[2018-12-01 08:15] fabb commented on #324
Ah ok, good hint! I thought the individual browser stats were also AT since the website already shows the global stats at AT when the query contains that.
Thanks for clearing that up!

[2018-12-01 09:44] ai commented on #324
+1. It is always better. I recommend https://github.com/browserslist/browserslist-ga to do it

[2018-12-01 10:04] fabb commented on #324
Yeah I‘ve seen it, but we‘re not using Google Analytics, we use Xiti. But it‘s just data transformation, shouldn‘t be too hard (famous last words).

[2018-12-01 10:36] fabb commented on #324
The question is if I want to implement the „log in and fetch data“ part, or if I just manually export csv and only implement the data transpormation 😉

[2018-12-03 16:20] hornta opened #325 "browserlist with only es5"
Is it possible to define a .browserlist that only targets browsers that doesn't support ES6?

The reason I am asking is because we want to build a bundle for "modern browsers" and a bundle for "non-es6 friendly browsers" so that I can use es6 in chrome and ES5 in IE11 and any browsers that doesn't support ES6?

[2018-12-04 23:04] mutech opened #326 "BrowserslistError: Unknown Browser Query `Electron`."
This is happening via @babel/preset-env, using the command line and also at https://browserl.ist/?q=electron

[code]

Strangely, running npm test in browserslist succeeds.

[2018-12-04 23:16] ai commented on #326
Use `last 1 electron version`.

The core idea of Browserslist is to always specify exact target browsers. This is why just `electron` do not work. Browserslist expect exact version.

There was no Electron 1. This is why second query do not work.

[2018-12-05 07:08] mutech commented on #326
Well I choose a wrong example, how about these:

[code]

browserslist recognizes Chrome (and all other browsers I tried), but not electron.

What version of Electron is valid?

[code]

[2018-12-05 13:03] ai commented on #266
@Graphap fix the source of the problem, not result. You need to update Browserslist in all components. By removing `not dead` you **did not fix the problem**. In your system different companies still use different browsers. It will create problems in different places.

[2018-12-05 13:09] ai commented on #326
Browserslist recognize it, but just don't have fancy warning. Do you want to send PR with this warning for Electron?

You forgot quotes

[2018-12-05 13:52] mutech commented on #326
You have a point, of course, but the problem still remains. No electron versions are found even with the quotes (see the initial example).

Here with quotes:
[code]

Btw. instead of using electron-to-chrome, electron-releases (see link above) seems to be the better choice as it also provides a mapping for the node dependency and it's maintained by the electron guys.

It would be great if
* `electr

[2018-12-05 14:07] ai commented on #326
Strange, we have tests for this query:
https://github.com/browserslist/browserslist/blob/master/test/electron.test.js

Does https://www.npmjs.com/package/electron-to-chromium have this version?

Good idea. I forgot about `electron X` queries, when I added `node` support.

Do we have this data in https://www.npmjs.com/package/electron-to-chromium ?

Do you really have use case for this queries (I s

[2018-12-05 14:59] mutech commented on #326
No, node versions are not in electron-to-chromiun, but they are in electron-releases.

Maintainability would benefit from this, since electron-releases is part of the electron project and contains info for all versions (everything they publish to github).

The use case: I use per directory browserslist files to configure platform dependencies for babel and other tools. Code is shared between elect

[2018-12-05 15:01] ai commented on #326
Did they contain Chrome and Node.js versions?

Did this project is still maintained? I thought they created new project.

[2018-12-05 15:02] ai commented on #326
It is use case for `electron x would resolve to chrome y, node z` case. Why do you need to track  Electron’s Node.js and Chrome versions separately?

[2018-12-05 15:11] mutech commented on #326
electron-releases: https://www.npmjs.com/package/electron-releases (laster update a day ago, so yes, it's maintained).

Use case: Assuming this directory structure:

* electron
   * main
   * renderer
   * shared

Code in shared has to run on both node and chrome, code in main and renderer on one of these. Babel and associated tools can optimize for chrome and node in main and renderer folders.

I

[2018-12-05 15:21] ai commented on #326
Great. Please send PR with using it and with using Node and Chrome in Electron query.

I am not very familiar with Electron. What it has different JS for renderer and main? That is main in this case?

[2018-12-05 15:32] mutech commented on #326
They both run on the same version of V8, so on the language level there should be no differences. AFAIK, the only difference is the availability of API's and probably various defaults. I'm not an expert on this either, that's why I am so happy that browserslist exists ;-)

[2018-12-05 15:33] ai commented on #326
I know a way to select only Electron’s Node: `electron 3, not Chrome > 0`

[2018-12-05 15:34] mutech commented on #326
That is assuming that this ticket does not exist and "electron 3" would work, right?

*smirk*

[2018-12-05 15:41] mutech commented on #326
To summarize, I invaded three topics in this issue:

* "electron 3" not working
   * that's open, could you reproduce this? The test is running for me too, but the query on the command line not (neither from babel).
* replace electron-to-chromium with electron-release
   * benefit: owned by electron, additional info (especially node version), impact on code: dunno
* additional electron queries

[2018-12-05 15:44] ai commented on #326
Also `add node X to Electron query output`

[2018-12-05 15:46] ai commented on #326
I will be able to try to reproduce it only on this weekend

[2018-12-05 15:50] mutech commented on #326
Ok, fine. I'll take a look at stuff and we'll have another chat weekends?

[2018-12-05 15:56] ai commented on #326
👍

I had convinced for:

1. replace electron-to-chromium with electron-release
2. add node X to Electron query output

I do not know what do you mean for “additional electron query using package.json dependency”?

[2018-12-05 16:21] nicksterx commented on #266
@ai Because this was fixed in bootstrap 4.1.3 should this thread be locked? These are a lot of solutions being suggested that are not helpful and probably confusing.

[2018-12-05 16:23] ai commented on #266
I do not like blocked issue. For my point of view, it is not welcome and should be used only to prevent conflict

[2018-12-05 17:22] mutech commented on #326
About all electron packages will have a dev dependency to electron in package.json. A query like:

given a package.json containing:
[code]

a browserslist query like
[code]

could resolve to `electron 3.0.10`.

I stumbled over another issue suggesting to determine the node version from the engine declaration with a similar intention. Unlike that, this dependency to electron is pretty much certainl

[2018-12-05 17:37] mutech opened #327 "Feature request: Queries referencing project settings (package.json)"
For some platforms, the version can be determined from project settings found in package.json.

If package.json specifies a `node.engines` field or has a dev dependency to electron, specified versions could be referenced by a new query type

[code]

or

[code]

EDIT: Also, it would be convenient to be able to specifiy

[code]

in a `.browserslistrc` or `browserlist` file to restore the defaults in

[2018-12-05 17:37] mutech commented on #327
See #319

[2018-12-05 17:38] mutech commented on #327
See #326

[2018-12-05 17:38] mutech commented on #326
Done

[2018-12-05 17:43] mutech opened #328 "Internal: Replace electron-to-chromium with electron-release"
Following a discussion in #326, I'm proposing to replace electron-to-chromium with electron-release.

Advantages:
* Maintained by electron team
* More information (e.g. Node version)

[2018-12-05 17:47] mutech opened #329 "Add `node X` to Electron query output"
See #326

We should check how that changes the caniuse feature selection though.

[2018-12-06 22:12] mutech commented on #326
Part of the problem I had is that the current implementation of electron queries require exact matches of the version provided by electron-2-chromium, f.e. `electron 3.0` works, `3.0.9` or `3` does not.

The PR I send earlier today also fixes this issue. So if that is ok, this issue can also be closed.

[2018-12-07 02:54] #326 closed

[2018-12-07 04:28] ArgonAlex opened #333 "Bug: Custom Usage Data querying is incorrect"
[This](https://github.com/browserslist/browserslist/blob/master/node.js#L159) normalization is causing [these](https://github.com/browserslist/browserslist/blob/master/index.js#L524) conditions to always be false. Which means any browsers that are "normalized" are always excluded from the results.

Unfortunately the test didn't catch this because it's only checking that and_chr is excluded with `n

[2018-12-07 14:32] ai commented on #333
Hi. Sorry, I had too many flights recently and now it is hard for me to understand complex issues.

Can you send PR with new test (and maybe a solution)?

[2018-12-08 10:36] Richienb opened #334 "Regex to match Browserlist query"
I'm just wondering if there is a regex I can use to test if a Browserlist query is valid. If not, is there any other way to programmatically check?

[2018-12-08 11:58] ai commented on #334
Tell me use case your case. I can add `browserslist.check(query)`.

[2018-12-08 23:51] Richienb commented on #334
I'm trying to check this via Javascript.

[2018-12-09 12:52] ai commented on #334
It is not use case. Use case should be end-user centric.

Why do you need to check it? What is your application doing? Why somebody may enter wrong Browserslist query?

[2018-12-10 15:30] ai commented on #334
1. What does your system do?
2. Who enter this Browserslist queries?
3. Why this queries could be not valid?
4. What do you do if queries are not valid? Why you can’t just show a standard Browserslist error message?

[2018-12-11 04:31] Richienb commented on #334
How do I trigger a Browserlist validation in the way you described?

[2018-12-11 12:34] ai commented on #334
You do not need to trigger it. Each time Autoprefixer or Babel runs, it uses Browserslist, Browserslist throw a error on unknown or wrong query.

[2018-12-12 13:20] isabellachen opened #336 "browserslist does not register and_ff correctly"
I am trying to get an array of browsers using browserslist. The conversion for all other browsers seems to be working fine except for "and_ff". Browserslist gives me "and_ff 63" no matter what version of and_ff I give it. "last 2 and_ff versions" gives me "and_ff 63" also. Is there some reason for this?

The results can be seen here in[ this codesandbox](https://codesandbox.io/s/0o85opo1yp).

[2018-12-12 16:14] ai commented on #336
@isabellachen unfortunately, this what Can I Use has in their database 😓. They have the only latest version for every mobile browser. https://i.imgur.com/tmRet0u.png

I do not like it too, but I can affect to Can I Use.

[2018-12-12 16:14] #336 closed

[2018-12-13 00:20] darrencoen opened #337 "BrowserslistError: Unknown browser query `cover 99.9%`"
× Processing site\templates\styles\main.css
{ BrowserslistError: Unknown browser query `cover 99.9%`
    at C:\PATH_REDACTED\node_modules\browserslist\index.js:164:11
    at Array.reduce (<anonymous>)
    at resolve (C:\PATH_REDACTED\node_modules\browserslist\index.js:132:18)
    at browserslist (C:\PATH_REDACTED\node_modules\browserslist\index.js:224:16)
    at Browsers.parse (C:\PATH_REDACTED\no

[2018-12-13 00:22] ai commented on #337
@dangreen update Autoprefixer and `postcss-cli` to fix this issue.

you use *very* old Autoprefixer and PostCSS CLI. They use very old Browserslist which doesn’t support this query.

[2018-12-13 00:22] #337 closed

[2018-12-14 16:44] ai commented on #333
I checked coffee and still do not understand the problem (normalization is too complex).

@ArgonAlex can you show query affected by this issue?

[2018-12-15 00:49] ArgonAlex commented on #333
:( I hope you recover soon!

Sorry I haven't had much time to look into a solution. I'm not really sure why the normalization needs to happen. But I just added a test to reproduce the issue, and another issue too.

[2018-12-15 01:19] ai commented on #333
Fixed b71984f

[2018-12-15 01:19] #333 closed

[2018-12-30 17:06] gharlan opened #340 "Unexpected result for: defaults, not < 1% in DE"
[`> 1% in DE`](https://browserl.ist/?q=%3E+1%25+in+DE) lists "Safari 12"
[`defaults`](https://browserl.ist/?q=defaults) also lists "Safari 12"
So why is Safari 12 missing with [`defaults, not < 1% in DE`](https://browserl.ist/?q=defaults%2C+not+%3C+1%25+in+DE)?

Shouldn't be `not < 1% in DE` the same as `> 1% in DE`?

[2018-12-30 20:05] ai commented on #340
Hi. Sorry, I will discover it after New Year (it is a very important holiday in Russia).

Right now you can:

1. Check that you use the latest version of Browserslist. https://browserl.ist/ is not official and not latest.
2. Debug [this block](https://github.com/browserslist/browserslist/blob/master/index.js#L135-L189). Don’t worry. Browserslist is 2 files libraries with simple pure JS code.

[2019-01-01 21:05] ai commented on #340
Fixed 21c25e2c0751107d45f4dc768fecad6d870f4913

[2019-01-01 21:05] #340 closed

[2019-01-01 21:13] #308 closed

[2019-01-04 13:30] gharlan commented on #340
Thanks for the very fast fix! 👏

[2019-01-08 12:07] saschanaz opened #341 "Support for Edge mobile?"
Currently there is Edge and IE Mobile but no Edge mobile (for Windows 10 Mobile). It's dead in feature-wise and also dying in security-wise, but should exist so that tools including `@babel/preset-env` can still support it.

[2019-01-08 12:09] ai commented on #341
We just use Can I Use database. Ask them to add Edge Mobile and it will be in Browserslist. https://github.com/Fyrd/caniuse

[2019-01-08 12:09] #341 closed

[2019-01-08 12:10] saschanaz commented on #341
Related issue: https://github.com/Fyrd/caniuse/issues/2119

[2019-01-08 16:40] dotnetCarpenter commented on #243
@graingert `edge >= 16, chrome >= 61, safari >= 11, ios >= 11.2, and_chr >= 64 and not dead` is now supported in #286 and currently give this result:

[code]

[2019-01-14 02:01] dotnetCarpenter commented on #243
@ai I think you can close this issue now

[2019-01-14 11:08] #243 closed

[2019-01-14 11:09] #334 closed

[2019-01-17 23:05] KevinBrogan opened #344 "Query ">1%" shows Chrome 69 with 0.38%"
https://browserl.ist/?q=%3E1%25

[2019-01-17 23:07] KevinBrogan opened #345 "Query ">1% in us" shows iOS Safari 10.0-10.2 with 0.62 percent"
https://browserl.ist/?q=%3E1%25+in+us

[2019-01-18 00:18] ai commented on #344
browserl.ist is unofficial and often has outdated data.

Use `npx browserslist "> 1%"` instead (and be sure that you have latest `browserslist` and `caniuse-lite` npm package versions (you can check them in `npm ls`).

Also, note that we use Can I Use data and we take their data from npm. Something it takes few days for update.

[2019-01-18 00:18] #344 closed

[2019-01-18 00:20] ai commented on #345
browserl.ist is unofficial and often has outdated data.

They show global statistics in the list. I agree that it is confusing. But you must report to their repo.

And I recommend to use `npx browserslist`.

[2019-01-18 00:20] #345 closed

[2019-01-18 10:03] FateRiddle commented on #137
@ai  How do you exclude op_mini? Tried 'not op_mini > 0', and 'op_mini all' is still there.

[2019-01-18 10:09] ai commented on #137
@FateRiddle `not op_mini all`

Don't forget that Opera Mini is very popular in Africa. So consider it twice and remove it only when it is totally technically impossible to support it.

[2019-01-18 14:23] FateRiddle opened #346 "How to make complex and/or setting in package.json?"
The only available example is:
[code]
And 4 queries are combined with "or" . How do I combine them with "and"?

Also, if I want to do something more complex, like: (A or B) and (C or D), how do I do it? Both in CLI and package.json?

[2019-01-18 14:25] #346 closed, assigned to nobody

[2019-01-19 01:43] FateRiddle commented on #346
@ai Thanks for the information! It is math,
(A or B)  (C or D)  = (A or B) C or (A or B) D = AC or BC or AD or BD, so basically I can meet every needs without using (A or B) and C query.

[2019-01-21 12:52] rpellerin commented on #138
What is the preferred file these days? `.browserslistrc` or `browserslist`?

[2019-01-21 12:52] ai commented on #138
@rpellerin `.browserslistrc` because it copies the style of other configs and fix rare bug with npm

[2019-01-21 13:05] rpellerin commented on #138
@ai thank you!

[2019-01-23 18:08] opnet opened #347 "Iterating over strings using for..in breaks browser query type checking"
(This is a bit of an odd ticket, because it's caused by global pollution of the string object by other modules. I'm filing it here as well in the other modules that are causing issues.)

**Expected Behaviour**
A config of `{ browserslist: 'Chrome > 30' }` is passed to browserslist and works properly.

**Observed Behaviour**
Using the same config, an error is thrown:
[code]

When checking the brows

[2019-01-23 19:40] ai commented on #347
The config file? Or the `package.json`? Or the argument for `browserslist()` JS API function?

[2019-01-23 19:42] opnet commented on #347
Ah, sorry. The `package.json`.

[2019-01-23 19:45] ai commented on #347
OK, let’s allow to pass a string. Do you want to send PR?

[2019-01-23 19:46] opnet commented on #347
Sure, I can do that.

[2019-01-30 12:45] comatory opened #348 "[Question] Does specifying browsers mean whitelisting?"
If I specify for example `Chrome >= 69, Firefox >= 60` does this mean other browsers get ignored?

[2019-01-30 12:46] ai commented on #348
Yes. It will ignore all other browsers (and this is why it is not recommend for standard use cases).

[2019-01-30 12:46] #348 closed

[2019-01-30 12:47] comatory commented on #348
Thank you, maybe this behaviour could be implied in the README.

[2019-01-30 12:53] ai commented on #348
Sure

[2019-01-30 13:04] comatory commented on #348
Opened PR here https://github.com/browserslist/browserslist/pull/349

[2019-02-02 20:02] vipulgupta2048 commented on #266
Here's a detailed answer for the same. See if that helps.

https://mixstersite.wordpress.com/2019/02/03/solved-module-build-failed-browserslisterror-unknown-browser-query-dead-react-npm/

[2019-02-06 23:09] tyteen4a03 opened #350 "`node, last 2 years` does not resolve"
This query fails: `node, last 2 years`

[2019-02-06 23:11] ai commented on #350
There is no `node` query. Here is available queries: https://github.com/browserslist/browserslist#full-list

Maybe you need to replace `node` to `maintained node versions` or `current node`

[2019-02-07 19:12] tyteen4a03 commented on #350
That's rather limiting. Are there plans to make these queries work on node?

[2019-02-07 19:36] ai commented on #350
What is your use case? Do you create a library (and want to compile it for your clients?) or do you create an application (and need only one Node.js version)>

What Node.js version do you want to select?

[2019-02-07 20:36] tyteen4a03 commented on #350
I don't have a strong need for this - just a nice to have. It struck me as odd how node query behaviour is different from regular browsers.

[2019-02-07 20:39] ai commented on #350
I think `nvm` queries is not very good since it is not very clear. This is why we used more explicit queries.

What query do you want? Latest version of Node? For what use case?

[2019-02-07 20:46] tyteen4a03 commented on #350
For me latest LTS version would be good.

[2019-02-07 20:59] ai commented on #350
For this case `last 1 node lts` could be better.

I can add it.

What is use case?

[2019-02-14 05:28] steven87vt commented on #293
Just wanted to toss this out there, being able to specify a minimum node range would be super helpful on my project just because it seems most team members are on different versions. The main reason for us would be to set the babel-env#targets config to a browserslist query `node > 9.5.0` when `BABEL_ENV=test` and let the jest tests run babel'ed against the current users node version.

[2019-02-14 10:12] ai commented on #293
@steven87vt do you want to send PR?

[2019-02-19 10:55] comatory opened #351 "Unknown version 4.0.1 of electron"
I'm adding this to my `package.json`:

[code]

That version of electron is not recognized. How do I make this work? I basically want to use babel preset env but have the config in `package.json`

[2019-02-19 17:27] ai commented on #351
We are using this package for Electron versions https://github.com/kilian/electron-to-chromium

It has 4.0.1 version https://github.com/Kilian/electron-to-chromium/blob/master/full-versions.js#L14

You need to update your npm dependencies by `npm update`.

[2019-02-19 17:27] #351 closed

[2019-02-21 16:11] revskill10 commented on #266
Why people're relating bootstrap to browserlist issue ?

[2019-02-23 17:48] #347 closed

[2019-03-05 04:15] shenhui815 opened #353 "When I build react project, the problem hanppened. Module build failed: BrowserslistError: Unknown browser query `dead` at Array.forEach (<anonymous>)"
Creating an optimized production build...
Failed to compile.

./src/styles/main.less
Module build failed: BrowserslistError: Unknown browser query `dead`
    at Array.forEach (<anonymous>)

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! KnowledgeBase@0.1.0 build: `react-scripts build`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the KnowledgeBase@0.1.0 build script.
npm ERR! This is prob

[2019-03-05 04:18] ai commented on #353
You have some dependency which uses very old Browserslist.

1. try to call `npm update` to update dependencies.
2. Call `npm ls`, find who use Browserslist < 3.0. Update it or open issue there.

[2019-03-05 04:18] #353 closed

[2019-03-13 12:46] callumlocke opened #354 "Document browserslist-stats.json format"
The [browserslist-ga](https://github.com/browserslist/browserslist-ga) looks useful, but not everyone uses Google Analytics. I would like to see an explanation (or just a good example) of the format, so I can create my own `browserslist-stats.json` file based on a custom data source (such as `user-agent` headers in server-side request logs).

[2019-03-13 17:03] ai commented on #354
Here is an example: https://github.com/browserslist/browserslist/blob/master/test/fixtures/browserslist-stats.json

The format is `{ [caniuse browser name]: { [caniuse browser version]: [float] } … }`.

If you have a Chrome 42 with 1.5% and Firefox 50 with 1% it will be `{ chrome: { 42: 1.5 }, firefox: { 50: 1 } }`.

Use `npx browserslist` to get browser names.

Do you want to send PR to docs with

[2019-03-14 01:55] juliusdejon commented on #266
if your app is made by create-react-app, check your **package.json** you will see an array of browsersLists. just remove the **not dead** at the list

[2019-03-14 02:00] ai commented on #266
@juliusdejon I deleted your commit because it could force junior developers to use for dangerous solutions.

You will fix the symptom but not the source of the problem.

Some of your dependency uses old Browserslist. It means, that even without new `not dead` command, the same Browserslist config generates different target browsers for new and old tools. It is dangerous and could create other prob

[2019-03-14 02:26] juliusdejon commented on #266
├─┬ caniuse-api@1.6.1
│ │ │ │ │ ├─┬ browserslist@1.7.7
 i found it

[2019-03-14 02:28] ai commented on #266
@juliusdejon the latest `caniuse-api` is 3.0. Find who use such old `caniuse-api` dependency.

[2019-03-14 08:22] EvgenyOrekhov opened #355 "False-positives"
I believe these are false-positives:

browserslist version: 4.4.2

Moved here from https://github.com/amilajack/eslint-plugin-compat/issues/186.

[2019-03-14 13:41] callumlocke commented on #354
OK thanks. But are you sure it's that simple? There's [another example](https://github.com/browserslist/browserslist/blob/87da763a5b6dff3be7ac0fd5c398992ba3f48e50/test/fixtures/stats.json) where the browsers are nested under `dataByBrowser` – what is the difference there?

Also, doing `npx browserslist` doesn't show browser names, it just prints this:

[code]

[2019-03-14 16:54] #355 closed

[2019-03-14 16:57] ai commented on #354
`dataByBrowser` is an optional key. You can miss it.

Try `npx browserslist "last 1 version"`

[2019-03-15 11:14] gbiorczyk opened #357 "Support for polyfill-library"
Hi,

I would like to write a code that allows me to automatically add all mixins for the browsers given in package.json.

Here's the part of the code in package.json:
[code]

I have something like this in the webpack file:
[code]

I get the following list of browsers:
[code]

Here I found a list of all mixins and in each there is a file with a list of browsers for which it is required:
https://git

[2019-03-15 12:11] danpantry commented on #131
@ai I create internal enterprise applications that will never be accessible via mobile. Preventing me from excluding mobile means that my transpiler will attempt to compile code for mobile browsers - which can make reading stack traces more challenging since it will, for example, replace async/await with so-called 'helpers'

I don't really think it is your prerogative to assume what the audience o

[2019-03-15 20:23] ai commented on #357
They have a custom syntax for ranges (`"edge_mob": "<14"`, `"ie_mob": "10 - *"`). I am not sure what is this syntax and can you find a parser. Maybe you will need to write a parser on your own.

You should ask `polyfill-library` author. Maybe they can give you a parser.

I am closing this issue because supporting this config is out of Browserslist purpose. It should be in independent npm package o

[2019-03-15 20:23] #357 closed

[2019-03-15 20:30] ai commented on #131
@danpantry I see two options here:

1. I am adding some `not mobile` query. You with 10+ developers are a little happy (because it is syntax sugar you can still ignore mobile with long query). 10 000+ people are not really happy (instead of your case, the website will not work on mobile devices and they will not have any option to avoid this problem compare to you), because other bad developers wi

[2019-03-15 20:37] #293 closed

[2019-03-15 20:46] ai commented on #293
Released in 4.5.

[2019-03-20 08:22] amree opened #358 "browserslist without config"
Based on the [README](https://github.com/browserslist/browserslist#queries)

So, if I didn't specify any config at all, should `npx browserslist` output the result based on the default config? For now, it's giving:

[code]

Is this a bug or something that's expected?

[2019-03-20 15:59] ai commented on #358
Fixed af3b108

[2019-03-20 16:13] ai commented on #358
Released in 4.5.2.

[2019-03-20 16:34] #358 closed

[2019-03-25 11:31] jrencz opened #359 "Idea: "<browser> >= last supported on <platform>"
It's now super-manual to express a policy related to last supported versions on platforms. One has to know what were those versions if they want to have them covered. E.g.: support at least the last version of evergreen browsers available on Windows XP.

This means:
- Chrome >= 49 (last for windows XP, Vista, Max OS 10.6-10.8)
- Opera >= 36 (it uses Chromium 49 so same reason)
- Firefox >= 52 (las

[2019-03-25 15:32] ai commented on #359
Do you know any good resource with this data?

[2019-03-25 15:33] ai commented on #359
I think, the sharable config will be the best thing for this case

https://github.com/browserslist/browserslist#shareable-configs

[code]

[2019-03-25 15:59] jrencz commented on #359
I searched release logs and it's often written in there. Valuable but not possible to automate

I'm worried about discoverability of this - it will have to be well listed right in the core project documentation to make it usable for the end user.
And the number of combinations: one will want to support xp, one will want to support vista, other will focus on mac OS.

[2019-03-25 16:04] ai commented on #359
This is why I am afraid to add it to the core.

[code]

You can use a script to generates there sharable config by one JSON data.

[2019-03-29 07:25] spiltcoffee opened #360 "Parsing bug if newer minor version appears before major version"
**What happened?**
- I tried passing a query through browserlist where a newer minor version appeared before the same browser's major version (i.e. `safari 12.2` appeared before `safari 12`).

**What did I expect?**
- Everything to work fine

**What actually happened?**
- It seems like the major version gets removed twice during parsing the query string, so you end up with the minor version attach

[2019-03-29 20:35] wbinnssmith opened #361 "Consider not writing to stderr or allowing opt-out"
It's a bit surprising to have a library [write to stderr as a side effect of invoking it](https://github.com/browserslist/browserslist/blob/master/node.js#L307):

Perhaps `browserlist` could also accept a callback that it would yield warning messages to.

I definitely understand the reasoning behind these warnings, but tools using browserslist may have their own command line interfaces that would

[2019-03-29 20:46] ai commented on #360
Fixed b1de7aa

Thanks for issue with all details

[2019-03-29 20:46] #360 closed

[2019-03-29 20:53] ai commented on #360
Released in 4.5.3

[2019-03-29 20:56] ai commented on #361
I thought about this case, this is why I write to `stderr` instead of `stdout`.

Tell me more about your case, let’s find the best option here (just disabling warning will keep users to use old Can I Use data, but I understand your problem and will try to find the best solution to fit all problems).

[2019-03-30 13:33] LeTo34 commented on #259
I have the same problem. Did you find a solution ? Thanks for your help

[2019-03-31 06:24] lisaweathers commented on #361
i have no ideal what i am doing, yes i need help lol , i need to fix some issues

[2019-03-31 15:36] ai commented on #361
@lisaweathers what issues do you have?

[2019-04-01 05:45] lisaweathers commented on #361
Hi andrey, i need to speed up computer, i do not knw anything about
computers, it says i need to render, javascript mininzing and css, i am lost

On Sun, Mar 31, 2019 at 10:36 AM Andrey Sitnik <notifications@github.com>
wrote:

[2019-04-01 21:53] ai commented on #361
@lisaweathers since it is not related to this issue, you should not describe it here.

I can give you some advice, just write to me to andrey@sitnik.ru and give more details about. What do you do with a computer? What type of computer? What exactly action is slow.

[2019-04-02 21:53] wbinnssmith commented on #361
Thanks for the reply @ai. Our use case is pretty close to what I described: in @parcel-bundler we invoke @babel/preset-env which uses `browserslist`. We have a rich cli interface[1] implemented with @vadimdemedes/ink, which relies on control of stdio. We currently patch console.log to avoid browserlist from writing directly to stderr.

[1] https://github.com/parcel-bundler/parcel/blob/v2-work-so-f

[2019-04-02 21:55] ai commented on #361
@wbinnssmith why you can’t update `caniuse-lite` in this use case?

[2019-04-02 21:56] ai commented on #361
@wbinnssmith I can add `BROWSERSLIST_IGNORE_OLD_DATA=true` environment variable for this case

[2019-04-02 22:04] wbinnssmith commented on #361
Fantastic. Thank you so much 😃

[2019-04-02 22:24] ai commented on #361
Done 0ae7155

[2019-04-02 22:28] ai commented on #361
Released in 4.5.4

[2019-04-02 22:28] #361 closed

[2019-04-11 14:42] sybrendotinga commented on #300
I was experimenting with implementing a shareable config for our company today. Because we also have two environments in our current setup I was looking into how to implement this. I ended up in this topic. For us this is a great use-case aswel. For now, I decided to only implement the production environment, that will also be used in our development environment.

We would like to use this feature

[2019-04-16 17:56] mschipperheyn opened #365 "BrowserslistError: Unknown browser kaios"
[code]

Is this you guys? I just did a yarn install and everything blew up. Couldn't revert either.
Saw that you guys just released a new version. It hasn't propagated yet.

[2019-04-16 17:57] ai commented on #365
It happens when you have old Browserslist.

Call `npm ls` and try to find who requires Browserslist < 4.

[2019-04-16 18:04] mschipperheyn commented on #365
I only had this when I installed something just now. Recent installs work fine. It seems that some minor release child dependency causes a breaking change. Couldn't even revert by going back to previous package.json
[code]

[2019-04-16 18:07] ai commented on #365
It started to happen, because Can I Use added new `kaios` browser. In your dependencies tree some browerslist use `caniuse-lite` with `kaios`, others do not use.

I am not sure that it is best option.

Also try to call `yarn update` to refresh all Browserslists and `caniuse-lite` in your tree.

[2019-04-16 18:08] mschipperheyn commented on #365
I will give that a go. Thanks for the fast reply.

[2019-04-16 19:17] mschipperheyn commented on #365
Doing a `yarn upgrade` fixed it for me.

[2019-04-16 19:17] #365 closed

[2019-04-23 07:50] ThomasdenH opened #366 "Specify default"
Reading through the history of the Readme, it seems it is recommended to use the browserlist default when creating a general usage website. However, it is also recommended to specify a config in `package.json` instead of relying on the fallback. Is there a default config to extend here?

[2019-04-23 17:24] ai commented on #366
[code]

[2019-04-23 17:24] #366 closed

[2019-04-23 17:25] ai commented on #366
Should we clarify it in docs? Do you want to send PR?

[2019-04-24 09:43] dimaqq commented on #365
For the next person who gets stuck: you may need `rm yarn.lock; yarn`
Ref: https://stackoverflow.com/questions/55681358/browserslisterror-unknown-browser-kaios

[2019-04-25 01:06] dmix commented on #365
II'm still getting this warning even with the latest `4.5.5` version of `browserslist` and latest of caniuse-lite.

The problem seems to be kaios is not listed in the aliases list: https://github.com/browserslist/browserslist/blob/14b483910176a0efd5e8f3b8580ea36e66d9e046/index.js#L414

I have deleted node_modules and yarn.lock repeatedly and tried multiple different 'solutions' such as adding `"re

[2019-04-25 02:21] ai commented on #365
Run `npm update` to update `caniuse-lite` in all nested dependencies.

[2019-04-26 09:20] nicolo-ribaudo opened #367 "Wrong chromeandroid version parsing"
We found this bug in Babel's test suite, which a few days ago suddenly started failing.

**Current behavior:**

[code]

**Expected behavior:**

[code]

---

**UPDATE**

It looks like that the problem is that many browsers only list the last version :thinking:

![Schermata da 2019-04-26 11-25-41](https://user-images.githubusercontent.com/7000710/56797929-1dcc2c80-6816-11e9-8227-7c539399a9b8.png)

[2019-04-26 09:43] nicolo-ribaudo commented on #367
Ok, the problem is that caniuse only tracks the _last_ version of mobile browsers: https://caniuse.com/usage-table

I think that it would be safe to alias mobile browsers to the desktop version?

[2019-04-26 14:51] ai commented on #367
Yeap, the problem came from Can I Use.

Technically, we can add extra option which will map mobile browsers. What mobile browsers we should also add to this map?

[2019-04-29 15:33] brettz9 opened #369 "Node must be lower case despite docs"
Per https://www.npmjs.com/package/browserslist, "Names are case insensitive" and "`Node` for Node.js.", but using `4.5.5`, "Node" does not work with comparators (#293) unless made all lower-case (and it doesn't work at all, including lower case, if there is no version, but I suppose that is expected).

[2019-04-29 15:37] ai commented on #369
Do you want to send PR to save your name in history? Just add `i` regexp modifier and tests.

[2019-04-30 17:39] ai commented on #369
Fixed 9f1752e

[2019-04-30 17:39] #369 closed

[2019-04-30 17:47] ai commented on #369
Released in 4.5.6.

[2019-05-04 23:58] nicolo-ribaudo commented on #367
I think we can at least map `and_chr` and `and_ff` to their desktop versions. As you can see in the screenshot above (https://github.com/browserslist/browserslist/issues/367#issue-437579259), there are also other mobile browsers with only one version (e.g. `and_qq`), but I don't know what they are.

[2019-05-05 02:35] ai commented on #367
@nicolo-ribaudo do you want to send PR?

[2019-05-05 05:28] brettz9 commented on #369
Thanks much！

[2019-05-05 07:04] nicolo-ribaudo commented on #367
Ok, I'll try to do it in the upcoming week

[2019-05-08 07:58] ai commented on #256
We don’t need it anymore https://webmasters.googleblog.com/2019/05/the-new-evergreen-googlebot.html

[2019-05-08 07:58] #256 closed

[2019-05-10 09:29] artel1992 opened #370 "Error build"
after I added the scripts in the package.json ... I started to get the error "This is probably additional logging output above." during assembly...
    "build:css": "postcss src/app.css -o build/app.css",
    "build:js": "babel src/app.js -o dist/app.js",
    "build": "npm run build:css && npm run build:js"
What have I done wrong? Can you help me with this?

[2019-05-10 09:31] ai commented on #370
@artel1992 show me full output

[2019-05-10 09:36] artel1992 commented on #370
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'build',
1 verbose cli   '--scripts-prepend-node-path=auto' ]
2 info using npm@6.8.0
3 info using node@v10.15.2
4 verbose run-script [ 'prebuild', 'build', 'postbuild' ]
5 info lifecycle sc

[2019-05-10 09:38] artel1992 commented on #370
in the script you need to specify the path to the js file right?and how to be with vue components? I have a project and I am trying to build it with support for multiple browsers.

[2019-05-10 09:44] artel1992 commented on #370
0 info it worked if it ends with ok
1 verbose cli [ 'C:\Program Files\nodejs\node.exe',
1 verbose cli 'C:\Program Files\nodejs\node_modules\npm\bin\npm-cli.js',
1 verbose cli 'run',
1 verbose cli 'build',
1 verbose cli '--scripts-prepend-node-path=auto' ]
2 info using npm@6.8.0
3 info using node@v10.15.2
4 verbose run-script [ 'prebuild', 'build', 'postbuild' ]
5 info lifecycle scores-vue@1.0.0pre

[2019-05-10 09:51] ai commented on #370
Sorry, I can’t help you with Vue (I have no real experience with it). StackOverflow will be a better choice.

I am closing this issue because if it not related to Browserslist code or docs.

[2019-05-10 09:51] #370 closed

[2019-05-10 09:54] artel1992 commented on #370
I understood you. Thank you for responding so quickly. Total you best

[2019-05-14 08:53] #367 closed

[2019-05-14 09:19] ai commented on #367
Released in 4.6

[2019-05-14 11:23] fALKENdk opened #372 "Depending on caniuse-lite v1.0.30000967"
The latest release is depending on caniuse-lite v1.0.30000967 but the latest release is v1.0.30000966

[2019-05-14 11:26] ai commented on #372
Are you sure that 966 is latest? https://www.npmjs.com/package/caniuse-lite show 967.

Maybe you have some npm HTTP error? (They often have them (

[2019-05-14 11:33] fALKENdk commented on #372
Your right sorry, just tried to install caniuse-lite in another project and I get 967 aswell.
Just got this error message:
Borwserslist: caniuse-lite is outdated. Please run next command `npm update caniuse-lite browerslist`
and after a look on https://github.com/ben-eb/caniuse-lite/releases it looked like 966 was the latest release.

[2019-05-14 11:33] #372 closed

[2019-05-17 13:29] jonathantneal opened #373 ""last 2 versions" once edge goes chromium"
In the near future, would a query like `last 2 edge versions` translate to `edge 18, edge 74`?

The way it will work in browserslist would likely have a huge impact on the transition period between **EdgeHTML Edge** (18-) and **Chromium Edge** (74+).

_Note: It will be much more common for this query to come down in the form of `last 2 versions`. The specific example of `last 2 edge versions` was

[2019-05-17 13:32] ai commented on #373
What is Microsoft policy about the transition period between EdgeHTML and Chromium Edge? Will they keep supporting both branches for a while?

[2019-05-17 21:59] antross opened #374 ""last 2 versions" (and "defaults") should not include "android 4.4.3-4.4.4""
This technically falls out from how `caniuse` is representing versions for Android, but I think is worth discussing here since it impacts the `defaults` query.

Relevant data from `caniuse`:
[code]

The `caniuse` data is only providing one version covering the time since the [Android webview went evergreen in Android 5](https://developer.chrome.com/multidevice/webview/overview), even though there

[2019-05-18 10:08] ai commented on #374
Hi. Yeap, it is a good idea to strip `android 4.4.3-4.4.4` from `last X version`.

Can you send PR with code like:

[code]

`last 2 version` should no contain `4.4.3-4.4.4`, but `last 100 version` should.

[2019-05-20 21:51] antross commented on #374
Thanks @ai!

I ended up opening a PR with a different approach in an attempt at a more complete fix, but if that proves to not be in alignment with your principles for the project I'm happy to adjust it to something more scoped.

[2019-05-21 10:08] nikolay-govorov opened #376 "Drop `browsers` option"
The other day I encountered an error - at the root of the project lay browserslist with properly configured browsers, but in autoprefix browsers were transferred separately and did not meet the requirements. Because of this prod did not get prefixes for CSS Grids in IE, and the prod fell.

It would be cool if the settings can be passed ONLY in the browserslist config.

[2019-05-22 12:36] ai commented on #376
It is not possible. But we definitely should make it harder.

[2019-05-22 12:38] ai commented on #376
I update docs c07d0f2

Also, I will change the default option in the next major release of Autoprefixer https://github.com/postcss/autoprefixer/issues/1216

[2019-05-22 12:39] #376 closed

[2019-05-23 03:37] RinatValiullov opened #377 "Update docs browserslist README file"
I update docs c07d0f2

Also, I will change the default option in the next major release of Autoprefixer https://github.com/postcss/autoprefixer/issues/1216

_Originally posted by @ai in https://github.com/browserslist/browserslist/issues/376#issuecomment-494784458_

---

_My suggestion_

**Is it worth it to add some warnings(notes) because of not recommended option `browsers` in autoprefixer like

[2019-05-23 07:38] ai commented on #377
Yeap, I will update docs, when I will add warning in Autoprefixer.

[2019-05-24 11:27] ai commented on #374
@antross oops, I merge PR but then found a big problem.

Browserslist must to return only browsers from Can I Use. We can’t return `android 67, android 66`.

For instance, Autoprefixer will use these browsers to get prefixes data from Can I Use. If we will artificially create `android 66`, Autoprefixer will not find a browser data and it could cause an error.

Can I ask you to do PR in a different

[2019-05-24 11:50] Noitidart commented on #351
I had similar problem with using `5.0.2`. I ended up using `5.0` and it worked.

[2019-05-24 11:58] ai commented on #351
@Noitidart did you try `npm update`?

[2019-05-24 13:35] mgol commented on #373
@ai have you gotten a response about that from MS? I know @TheLarkInn reached out to you on that topic some time ago.

[2019-05-24 13:36] ai commented on #373
No response yet

[2019-05-24 13:40] Noitidart commented on #351
Thanks @ai for the reply. Yep I tried it and I even listed it out to show the versions and they are very latest:

[code]

[2019-05-24 13:42] ai commented on #351
Hm. It is the latest. Can you open an issue at https://github.com/kilian/electron-to-chromium

[2019-05-24 17:25] molant commented on #373
Hello all,

EdgeHTML will receive security updates but no features will be added to it so there won't be a major release of it.

One thing to take into account is that once Chromium Edge has a stable channel, it will be updated every 6 weeks. While `last 2 edge versions` might return something similar to what @jonathantneal says in the description, it won't be for long.
That said, users might want

[2019-05-24 17:43] antross commented on #374
@ai Bummer, but I understand. I'll open a new PR with your proposed approach.

Should I include the filter on the `last \d+ major versions`, `last \d+ \w+ versions` and `last \d+ \w+ major versions` queries in addition to `last \d+ versions`?

Also any thoughts on when `browserslist` might be ready for another major update so we can fix this more completely? And when that time comes, what do you t

[2019-05-24 17:44] jonathantneal commented on #373
Thanks for the update, @molant! Would you mind confirming the last version of EdgeHTML Edge? I believe it is `18`, but [whatismybrowser.com stats](https://developers.whatismybrowser.com/useragents/explore/software_name/edge/?order_by=-software_version) suggests `19`.

_Aside: Ah, I’m so excited to ship support for Chromium Edge to normalize.css and sanitize.css, which is then used by PostCSS Norma

[2019-05-24 18:01] molant commented on #373
The version I have in my laptop is 18.18362 and it has the latest Windows 10 release from this week.
I'm going to double check internally to make sure we are not bumping the version in the next Windows 10 release just to make sure.

[2019-05-25 00:59] Noitidart commented on #351
Thanks! Done

[2019-05-25 06:39] Kilian commented on #351
hi @ai! I think all of this is because you import versions.js and not full-versions. Versions doesn't include patch versions, as they never change chromium versions (nor do minor versions, but that's there for pre-1.0 when it did). So, browserlist only supports the X.X notation and not the X.X.X notation. Maybe you can either ignore the last `.X` in electron queries? Then you don't have to import

[2019-05-25 09:01] ai commented on #351
@kilian can you send PR?

[2019-05-25 09:59] ai commented on #374
Yeap

Browserslist 4 release was so painful 😣.

CRA and many other popular tools used old Browserslist and users was not able to add new queries to Browserslist config.

[2019-05-25 11:31] Noitidart commented on #351
Thanks very much @Kilian for trying to help out!!

[2019-05-25 13:39] ai commented on #373
Let’s wait for some final release and how Can I Use will count Edge versions.

How I see Edge policy for now:

1. If Can I Use will have only the latest Edge version (`17, 18, 80`) we will use `android` behavior https://github.com/browserslist/browserslist/issues/374. `last 2 versions` will return only `edge 80`
2. If EdgeHTML will be popular (>0.1%) I will keep `edge 18` in `defaults`. If somebod

[2019-05-25 13:44] ai commented on #359
I am closing this issue, since at least right now I do not want to add it to the core.

[2019-05-25 13:44] #359 closed

[2019-05-25 13:45] ai commented on #354
@callumlocke Do you want to send PR to docs with a section about `browserslist-stats.json` format?

[2019-05-25 13:45] #350 closed

[2019-05-25 13:46] ai commented on #329
Do you want to send PR?

[2019-05-25 13:46] ai commented on #328
Great idea. Do you want to send PR?

[2019-05-25 13:49] ai commented on #327
I am closing since there is no implementation and I will no do it without PR (sorry, just want to keep Browserslist out of rare used queries)

[2019-05-25 13:49] #327 closed

[2019-05-25 13:50] #304 closed

[2019-05-25 13:50] #282 closed

[2019-05-27 19:42] Kilian commented on #351
@ai yeah: https://github.com/browserslist/browserslist/pull/378 also fixes https://github.com/browserslist/browserslist/issues/326#issuecomment-445048906

[2019-05-27 19:50] Kilian commented on #328
Hi, I'm both the maintainer of `electron-to-chromium` and part of the electron governance team.

I can add a node-versions.js to `electron-to-chromium` for you to consume, that'll be substantially lighter than using `electron-releases`. I got this request before: https://github.com/Kilian/electron-to-chromium/issues/17 but I wasn't sure about its use cases.

I'm still not sure, because the node an

[2019-05-28 20:03] ai commented on #328
We don’t need Node.js version right now

[2019-05-28 20:03] #328 closed

[2019-05-28 20:14] ai commented on #351
Released in 4.6.1

[2019-06-03 20:35] ai commented on #377
Done https://github.com/browserslist/browserslist/commit/1de61ff3b11116f42529861cd2814f7d0d6a5159

[2019-06-03 20:35] #377 closed

[2019-06-07 14:02] jonathantneal opened #379 "MDN Browser Compatibility Data"
I need to use [mdn’s browser compatibility data](https://github.com/mdn/browser-compat-data) to properly support features in PostCSS Preset Env. I would like to use browserslist alongside browser-compat-data, but I’m unsure the best way to accomplish this.

Could there be a guide or new feature that would allow me to use browserslist with mdn browser-compat-data?

While caniuse or cssdb often divi

[2019-06-07 14:23] ai commented on #379
I do not the best way too :). I think nobody has relevant experience. So you need just try to do it.

I think the main problem is to convert Can I Use browsers to browser-compat-data. I think we can do it with simple function.

I am closing this issue, feel free to open it on any additional question or if you will need anything from Browserslist.

[2019-06-07 14:23] #379 closed

[2019-06-07 14:36] jonathantneal commented on #379
I have tried and I am trying. I created an issue because it is tied to a real need and I need more brains on this.

Yes, the best thing I have come up with is to use `browserslist` to parse a user’s configuration and then parse `browser-compat-data` and transform it into something compatible with `browserslist`, and then run another function to compare the two. However, that function only starts s

[2019-06-07 18:19] ai commented on #374
I decided to ignore major versions (anyway it is a very rare query) and fixed the issue in e061cf7

[2019-06-07 18:19] #374 closed

[2019-06-07 18:30] ai commented on #374
I backported changes to queries with “major” keyword 18f08a2

[2019-06-07 19:01] ai commented on #373
We used new evergreen policy for `android` https://github.com/browserslist/browserslist/issues/374

So we will use it for Edge if Can I Use data will be inconsistent.

[2019-06-07 23:50] antross commented on #374
Thanks for fixing this @ai!

Sorry I didn’t get to it sooner as I’ve been traveling lately. Coincidentally I was working on a fix on my flight home today, but I’m glad to see it done regardless. I’ll try to get to things a bit more quickly next time I offer to do a PR.

[2019-06-08 00:24] antross commented on #379
@jonathantneal Not sure if this fits what you need, but we recently did something similar for webhint. We ended up with a couple of utilities to help query `browser-compat-data` which includes a `browsers` helper that has a simple [map of caniuse browser names to MDN ones](https://github.com/webhintio/hint/blob/master/packages/utils/src/compat/browsers.ts#L13).

Currently this is used by some slig

[2019-06-08 08:46] ai commented on #374
Don't worry, you already did a big PR

[2019-06-10 13:09] ben-eb commented on #379
The problem is browserslist uses a much richer data set via `caniuse` than `browser-compat-data`; for instance [`caniuse`](https://github.com/Fyrd/caniuse/blob/master/features-json/font-unicode-range.json#L40-L48) correctly identifies that the `unicode-range` descriptor is only partially supported in IE, whereas [`browser-compat-data`](https://github.com/mdn/browser-compat-data/blob/master/css/at-

[2019-06-10 13:44] jonathantneal commented on #379
@ben-eb, thanks for those examples. They are really valuable to see how either the **caniuse** tap or **mdn** tap may get a thing right that the other does not. I think this is a good reason to allow the user to configure the source of truth.

It’s worth noting that, to the best of my knowledge, information from caniuse and browser-compat-data are freely provided by contributors of unknown numbers

[2019-06-15 22:03] jimblue opened #380 "[Feature Request:] add support for config file name => browserslist.config.js"
Hi,

Configuration name **`*.config.js`** seems to be the most default/common value for most of majors libraries:

- **webpack.config.js**
- **babel.config.js**
- **stylelint.config.js**
- **postcss.config.js**
- **prettier.config.js**
- **vue.config.js**
- **nuxt.config.js**
- **tailwind.config.js**
- **jest.config.js**

I see only too libraries that doesn't support this format:
- **Browserlist**

[2019-06-15 23:04] jimblue commented on #380
Seems that **Eslint** already have a PR on the go to fix this!
So we are only one library from getting a new standard... Could be worst! 😅

[2019-06-15 23:13] ai commented on #380
Browserslist has different reason. Because of the performance Browserslist config should be static. If your want some dynamic, you can use environments.

Is it a good answer for you?

[2019-06-15 23:42] jimblue commented on #380
I'm not talking about dynamic configuration here. Just config file naming standard.
Plus how accepting `browserlist.config.js` would decrease performance?

[2019-06-15 23:46] jimblue commented on #380
Browserlist works with nodejs, so using a `browserlist.config.js` would actually be better for performance.

You wouldn't have to read the `.browserlistrc` file then export it as a module anymore like here:

https://github.com/browserslist/browserslist/blob/0ae7155a6c7d8f58eaeb3ea450c21bec76de2763/node.js#L274

[2019-06-16 11:53] ai commented on #380
`.config.js` will make config dynamic since it become written in JS.

Not only. For instance, Autoprefixer Rails reads the same config by Ruby code.

Dynamic config doesn't support caching since develop can write something like:

[code]

It will force Browserslist to read it again and again.

[2019-06-16 19:56] jimblue commented on #380
Let's just imagine you have a `browserlist.config.js`:

[code]
You can import the above array and save it in a `const`. Where is the dynamic part then?

Of course... I've never talk about breaking anything here!
This feature request is for **adding** a new way to configure Browserlist.

Again, if you save the config a `const`. Where is the dynamic part that would break the support for caching?

[2019-06-16 20:42] ai commented on #380
But how we can be sure that developers use simple array in their JS code?\

We can enable cache if we will be 100% sure about non-dynamic nature of every config. A lot of developers will not predict it. They will add some dynamic code and then open issues about why Browserslist miss this dynamic behavior.

And how we can parse JS file in Ruby code of Autoprefixer Rails?

[2019-06-16 20:51] jimblue commented on #380
Simply by checking if the config is an array. (https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/Array/isArray)

If your check if the config is a simple array as said above, this will not happen.

As I said in my previous answer: **I've never talk about breaking anything here!
This feature request is for **ADDING** a new way to configure Browserlist, not delete the actu

[2019-06-16 21:01] ai commented on #380
This config is 100% non-dynamically:

[code]

But it anyway returns an `Array`:

[code]

The only way to guarantee that JS files export the same result is a very complex source code analyzing. I am not sure that somebody did it before for JS.

Of course. I understood you.

If we will add one more config to Browserslist `browserslist.config.js` how we will write code in Autoprefixer Rails, which wi

[2019-06-16 22:15] jimblue commented on #380
So at this point, the array check is working.
The only remaining problem is the possibility that this array change dynamically right?
But is it really a problem as it will only executed at runtime? Postcss allow that and it seems to work well. https://github.com/postcss/postcss-loader#context-ctx

Autoprefixer Rails and Ruby can always stick to `.browserlistrc`

[2019-06-16 22:18] jimblue commented on #380
Anyway @ai, if it doesn't make sens for Browserlist team we can just close this.
I don't want to argue for ages, but thanks for this good talk!

[2019-06-16 22:37] #380 closed

[2019-06-18 07:26] akshayakrsh opened #382 "BrowserslistError: Unknown browser query `android all`. Maybe you are using old Browserslist or made typo in query."
```BrowserslistError: Unknown browser query `android all`. Maybe you are using old Browserslist or made typo in query.```

I received this error when using the `react-starter-app`, maybe its got to do something with `BrowsersList` itself, hence reporting it here.

[2019-06-18 07:32] silverwind commented on #382
Same error, my `browserslist` does not actually contain a `android all`, where does it come from?

[2019-06-18 07:33] SathyaThangam commented on #382
BrowserslistError: Unknown browser query `android all`. Maybe you are using old Browserslist or made typo in query.
    at Array.reduce (<anonymous>)
    at Array.some (<anonymous>)
    at Array.filter (<anonymous>)
    at new Promise

even I received the same error during deployment

[2019-06-18 07:39] lkiarest commented on #382
Unknown browser query `android all`. Maybe you are using old Browserslist or made typo in query.

[2019-06-18 07:52] zhipenglin commented on #382
Same issue

[2019-06-18 07:54] TonSDe commented on #382
I have same issue. and can't run "yarn dev" or "yarn run build" in Nuxt-app.

[2019-06-18 07:56] Desyon commented on #382
Having the same issue

[2019-06-18 07:57] solonik1 commented on #382
Same issue

[2019-06-18 07:58] meliksu commented on #382
Same issue

[2019-06-18 07:58] iwangx commented on #382
Same issue

[2019-06-18 08:01] micooz commented on #382
Same issue :)

[2019-06-18 08:08] NoureldeanSaed commented on #382
Same issue

[2019-06-18 08:08] pawelrol commented on #382
Same issue

[2019-06-18 08:14] hileix commented on #382
Same issue.

[2019-06-18 08:15] rajjejosefsson commented on #382
have the issue when using postcss-preset-env using rollup, seems create-react-app uses this too

[2019-06-18 08:17] keyurbhole commented on #382
Same Issue

[2019-06-18 08:19] ranabhat commented on #382
Same issue
[code]

[2019-06-18 08:20] honghui-qiao commented on #382
Same issue, please fix it ASAP

[2019-06-18 08:20] HansJiang commented on #382
Same issue @ben-eb
![image](https://user-images.githubusercontent.com/11820468/59665134-e90c9e00-91e4-11e9-9017-c8ed26d044bd.png)

[2019-06-18 08:21] huynd8295 commented on #382
Same for me, surprised that alot of people is facing this issue

[2019-06-18 08:22] hshettigar444 commented on #382
Same Issue

[2019-06-18 08:23] piro0919 commented on #382
Same Issue

[2019-06-18 08:25] delias commented on #382
Same Issue

[2019-06-18 08:25] quoctoank4it commented on #382
same issue

[2019-06-18 08:26] EricFung commented on #382
Same Issue , my project run well yestoday   T.T

[2019-06-18 08:26] lemondreamtobe opened #383 "Unknown browser query `android all`"

[2019-06-18 08:31] FinalAngel commented on #382
pin ``"caniuse-lite": "1.0.30000974"`` in your ``package.json``

[2019-06-18 08:32] Pradeep-DCPL commented on #382
Same Issue

BrowserslistError: Unknown browser query android all. Maybe you are using old Browserslist or made typo in query.
at Array.reduce ()
at Array.some ()
at Array.filter ()

[2019-06-18 08:33] needfortri commented on #382
Same issue using Nuxt

FATAL  Unknown browser query android all. Maybe you are using old Browserslist or made typo in query.

  at unknownQuery (node_modules/browserslist/index.js:204:10)
  at node_modules/browserslist/index.js:296:11
  at Array.reduce (<anonymous>)
  at resolve (node_modules/browserslist/index.js:237:18)
  at browserslist (node_modules/browserslist/index.js:361:16)
  at supported

[2019-06-18 08:34] ai commented on #383
There is no `all` query in Browserslist. We have a reason for it. In most of the cases “all” is a mistake. Anyway you do not really support browser of Android 1.

Use `android > 0` if you really know what you do. But better use a real version.

[2019-06-18 08:34] #383 closed

[2019-06-18 08:36] palashmon commented on #382
Quick fix for now, remove development browserlist items in package.json:

[code]

[2019-06-18 08:36] ai commented on #382
There is no query `X all` in Browserslist.

Report issue to `react-starter-app` they have wrong query.

[2019-06-18 08:37] lkiarest commented on #382
Maybe it's the problem of caniuse-lite,  I remove all the installed packages and reinstall last version of it then the error is fixed..
[code]

[2019-06-18 08:40] ckristhoff commented on #382
It works for me. Better solution for now.

[2019-06-18 08:40] ai commented on #382
@ikiarest we never supported `android all` query.

[2019-06-18 08:41] mohammadsobhy commented on #382
delete these lines in the package json file
"last 1 chrome version",
"last 1 firefox version",
"last 1 safari version",
"Android >= 4"
an its worked

[2019-06-18 08:43] Albinzr commented on #382
Is there any proper solution for this?

[2019-06-18 08:43] Veerpool commented on #382
no one not working with nuxt :(

[2019-06-18 08:44] ai commented on #382
There is an issue in Nuxt. They do something wrong and use query which we never support.

[2019-06-18 08:44] Albinzr commented on #382
@mohammadsobhy  **"Android >= 4"** is also not working

[2019-06-18 08:45] buschtoens commented on #382
@ai I can confirm that forcing a yarn resolution for `caniuse-lite@1.0.30000974` fixes the error. It must be an issue with the latest `caniuse-lite@1.0.30000975` release.

[2019-06-18 08:45] Veerpool commented on #382
`There is an issue in Nuxt. They do something wrong and use query which we never support.`
How it can issue in Nuxt, if everything be ok, no one update and fail.
and you have a lot of issue there =) ok)

[2019-06-18 08:46] ai commented on #382
I think Can I Use update just opened a bug in Nuxt. We never support `andoid all` query.

[2019-06-18 08:47] mathiastm commented on #382
i have same issue

[2019-06-18 08:51] rishabhnigamoyo commented on #323
Here I have  a quick fix.
` "browserslist": {
    "production": [
      ">0.2%",
      "not dead",
      "not op_mini all"
    ],
    "development": []
  }`
Delete items inside the development array inside browser list.

[2019-06-18 08:54] Veerpool commented on #382
Yes, you are right. Found a problem with 2 packet

[2019-06-18 08:55] ai commented on #382
Seems like the issue related with `postcss-preset-env`. It is always in stack trace.

[2019-06-18 08:58] buschtoens commented on #382
@ai It's `postcss-preset-env`, which in turn uses `cssdb` to load the `polyfillableFeatures`, which in turn uses `caniuse-lite`. It is very likely caused by the latest `caniuse-lite` update.

[2019-06-18 09:00] ai commented on #382
@buschtoens can you test what is inside `feature` where `polyfillableFeatures` was callled?

[2019-06-18 09:03] EricFung commented on #382
[root@iZ2ze3bv8i4oxkd7w8r2c5Z front]# npm run build

Creating an optimized production build...
Failed to compile.

./src/styles.module.css
BrowserslistError: Unknown browser query `android all`. Maybe you are using old Browserslist or made typo in query.
    at Array.reduce (<anonymous>)
    at Array.some (<anonymous>)
    at Array.filter (<anonymous>)

npm ERR! code ELIFECYCLE
npm ERR! errno 1
np

[2019-06-18 09:05] Anima-t3d commented on #382
This did not work for me, using nuxt 2.8.1

[2019-06-18 09:09] albertleigh commented on #382
add resolutions to depending app package.json for a temp quick fix

[code]

[2019-06-18 09:09] mtikmani commented on #382
Error, Same :(

[2019-06-18 09:11] Veerpool commented on #382
that is only for yarn

[2019-06-18 09:12] ai commented on #382
I released a very dirty fix in Browserslist 4.6.3. Try to update.

[2019-06-18 09:13] ai commented on #382
Subscribe to https://twitter.com/browserslist for recent news about this issue

[2019-06-18 09:16] pratiknesarkar99 commented on #382
** Install the Caniuse-lite from here*** This works fine
https://www.npmjs.com/package/caniuse-lite**

[2019-06-18 09:16] pimlie commented on #382
@ai Yes thanks, now it just prints a gazillion warnings ;)

[2019-06-18 09:18] MartinBalerio commented on #382
As mentioned by @albertleigh the issue is with the [caniuse-lite](https://www.npmjs.com/package/caniuse-lite/v/1.0.30000975) new version, resolutions fix the issue with yarn and `npm install caniuse-lite@1.0.30000974 --save-dev --save-exact` fixes the issue with NPM for now.

[2019-06-18 09:18] ai commented on #382
The warnings is a payment for dirty fix (we need a real fix and warnings will force us to create it)

[2019-06-18 09:20] MartinBalerio commented on #382
@ai I guess we delete our comments?

[2019-06-18 09:20] Veerpool commented on #382
Thanks it is Works

[2019-06-18 09:21] needfortri commented on #382
@ai I'm now able to build with nuxt without changing config.
Just got the warning "WARN  BrowserslistError: Unknown browser query android all" a hundred times during compilation, but once app is deployed everything seems to work fine.
Thanks a lot !

[2019-06-18 09:21] ai commented on #382
@MartinBalerio the right solution is to update to Browserslist 4.6.3. Locking Can I use will create more problems.

[2019-06-18 09:21] timoken commented on #382
It's not a browserlist problem. The error comes from here https://github.com/ben-eb/caniuse-lite/issues/27

[2019-06-18 09:23] MartinBalerio commented on #382
@ai got it, thanks!

[2019-06-18 09:25] pi0 commented on #382
![image](https://user-images.githubusercontent.com/5158436/59670028-72fe3c00-91d0-11e9-9526-6a6ae98a43ef.png) (SPOLER: 4x more)

@ai Is this a right solution? :thinking:

Agree that locking is not really a good idea but maybe `browserlist` can silently ignore and hide this warning until `caniuse-lite` or `browserslist` releases proper fix?

[2019-06-18 09:27] 974N commented on #382
I got the same issue when trying to run my react app through vscode terminal.

Failed to compile
./src/index.css (./node_modules/css-loader/dist/cjs.js??ref--6-oneOf-3-1!./node_modules/postcss-loader/src??postcss!./src/index.css)
BrowserslistError: Unknown browser query `android all`. Maybe you are using old Browserslist or made typo in query.
    at Array.reduce (<anonymous>)
    at Array.some (<

[2019-06-18 09:29] Aukhan commented on #382
updating to `4.6.3` works with warnings, hopefully the real fix comes from caniuse-lite

[2019-06-18 09:31] Rockshox93 commented on #382
How can i get the dirty fix? I'm all new to this, so please be serious 😆

[2019-06-18 09:35] pimlie commented on #382
@Rockshox93 remove `yarn.lock` or `package-lock.json`, remove `node_modules` and run npm/yarn install again

[2019-06-18 09:37] ai commented on #382
The real fix should be in postcss-preset-env or in some library which it uses

[2019-06-18 09:37] delias commented on #382
"dependencies": {
    "caniuse-lite": "^1.0.30000975",
    "react": "^16.8.6",
    "react-dom": "^16.8.6",
    "react-scripts": "3.0.1",
    "browserslist": "4.6.3"
  }

npm update
npm start
Worked for me

[2019-06-18 09:40] ai commented on #382
If Browserslist will ignore it silently the real fix will be written free month later. I know how open source works.

Also ignoring `android all` means that we can miss some prefixes for Android browser. It is a dirty did, Browserslist output is still incorrect (because wrong input was sent into it).

[2019-06-18 09:40] AlexLevus commented on #382
"browserslist": {
"production": [
">0.2%",
"not dead",
"not op_mini all"
],
"development": [
]
}
Update to your package.json . it worked for me as well.

[2019-06-18 09:43] wsv587 commented on #382
I received the same error. And I use yarn install instead of npm isntall, yarn run start instead of num start. that is OK!

[2019-06-18 09:43] FrankGnanamuttu commented on #382
npm i browserslist

worked for me

[2019-06-18 09:43] Rockshox93 commented on #382
@pimlie it worked, thanks mate 😄

[2019-06-18 09:44] b593771943 commented on #382
Good job~

[2019-06-18 09:45] b593771943 commented on #382
Also worked~

[2019-06-18 09:47] b593771943 commented on #382
before one hour, It can't work. but now worked

[2019-06-18 09:47] wsv587 commented on #382
I received the same error. And I use yarn install instead of npm isntall, yarn run start instead of npm start. that is OK!
Maybe, cause the developer of my team used yarn for package.

[2019-06-18 09:50] b593771943 commented on #382
It has nothing to do with yarn，maybe the author did something~

[2019-06-18 09:57] R1ON commented on #382
Thanks, it's worked ))

[2019-06-18 09:59] oodmumc3 commented on #382
@AlexLevus
work for me! thanks!!

[2019-06-18 09:59] MrToxy commented on #382
updating node to v12.1.0 and this issue does happen anymore

[2019-06-18 10:06] ssjsatish commented on #382
@R1ON this worked for me for command `npm run build`

Thanks

[2019-06-18 10:16] paramsinghvc commented on #382
WTF, this issue has eaten up my whole day. Still, I'm struggling to run my app with this stinking thing. Any help would be appreciated.

[2019-06-18 10:17] ai commented on #382
Call `yarn upgrade` or `npm update`

[2019-06-18 10:18] stevepop commented on #382
I am getting the same ` WARN  BrowserslistError: Unknown browser query android all` warning today since I upgraded to Nuxt v2.8.0. Any fix to get rid of this warning?

[2019-06-18 10:20] ai commented on #382
@stevepop

You will have this warning until we will not have the real fix in `postcss-preset-env`. Here are reasons for these warnings: https://github.com/browserslist/browserslist/issues/382#issuecomment-503029523

[2019-06-18 10:20] MrToxy commented on #382
also I've noticed that with yarn this issue doesn't arrise

[2019-06-18 10:40] nazboost commented on #382
I have same issue when I use https://github.com/hiroppy/fusuma/.
How to solve `BrowserslistError: Unknown browser query `android all``?

[2019-06-18 10:43] ryicoh commented on #382
How to solve BrowserslistError: Unknown browser query 'android all'?
updating to `4.6.3`
specifically, run this command
[code]

[2019-06-18 10:53] chepkasoff commented on #382
Still getting this
`BrowserslistError: Unknown browser query `android all`` 100500x times in the console.

[2019-06-18 11:09] FrancisVarga commented on #382
same here still getting the problem

[2019-06-18 11:15] ai commented on #382
@chepkasoff warning is a trade-off of current dirty fix. The warning will gone when postcss-preset-env maintenaner will wake up and make the real solution

@FrancisVarga do you have warning or error? Did you update Browserslist? How did you try to update npm dependencies?

[2019-06-18 11:20] SobakaSlava commented on #382
@ai thank you for dirty fix, now it's only a warning, but is the problem really in `postcss-preset-env`? It seems like `postcss-preset-env` is using `caniuse-lite` which was updated by you a few hours ago. Isn't the problem there?

[2019-06-18 11:31] ai commented on #382
@SobakaSlava postcss-preset-env has a code to generate browsers list accounting to selected features.

With fresh Can I Use data (Android browser was marked that it supported something new) it started to add non-existed `android all` browser.

The problem is with this browsers list generation.

[2019-06-18 11:32] gson88 commented on #382
@AlexLevus Your solution fixed the logging issue but it created more styling problems in our dev environment instead.

[2019-06-18 11:56] xenogenesi opened #385 "Feature request: emit js to tell if the running browser isn't supported"
I think it would be interesting if the tool could generate code to test if the browser used is not part of the supported by the query, would it be possible?

    if (<generated code>) alert('unsupported');

[2019-06-18 12:00] gregorwebmaster commented on #382
updat ```caniuse-lite``` to "1.0.30000974" fixed the problem for me.

[2019-06-18 13:50] ai commented on #385
We already have few solutions for it

https://github.com/browserslist/browserslist/blob/master/README.md#tools

The best way is to do it on server side, Browserslist data is too big to send it to client side.

[2019-06-18 13:50] #385 closed

[2019-06-18 13:55] molszanski commented on #382
it seems like `caniuse-lite` has unpublished the bad version. `rm -rf node_modules` and reinstall deps

[2019-06-18 13:59] tarreislam commented on #382
i hate npm

[2019-06-18 13:59] alex-lechner commented on #382
@gregorwebmaster for now, this solved it for me, thanks!

[2019-06-18 15:15] deot commented on #382
thanks!
1. `npm cache clean --force`
2. `rm -rf node_modules package-lock.json yarn.lock && npm install`
3. `npm install caniuse-lite@1.0.30000974`

[2019-06-18 15:53] vinhlh commented on #382
`1.0.30000975` doesn't work 💃

[2019-06-19 04:12] ycjcl868 commented on #382
temporary solution:

[code]

[2019-06-19 05:00] lichunshan commented on #382
This method solved my problem.

[2019-06-19 05:52] lijukrks commented on #382
This seems works for me , thanks

[2019-06-19 05:58] FrancisVarga commented on #382
So when this gonna resolve without temporary fix?

[2019-06-19 07:26] 974N commented on #382
@AlexLevus your solution saved my app thanks !

[2019-06-19 07:29] wbern commented on #382
For pnpm users, see this pnpmfile.js

[code]

[2019-06-19 07:32] webmasterpf opened #386 "How to use browserlist with gulp and autoprefixer"
Hi,

After updating my gulp system, I get this message when I run it:

[code]
But I don't find example to convert my actual code to work with these new practices. Here is my starting actual code in gulp.js file:

[code]
What do I need to change to get this work with browserlist now ?

Thanks

[2019-06-19 07:56] testcderick commented on #382
Do we have some alternative package of postcss-preset-env?

[2019-06-19 08:19] ai commented on #386
Open `package.json` and add:

[code]

Remove `browsers: AUTOPREFIXER` option and `AUTOPREFIXER` variable.

[2019-06-19 08:19] #386 closed

[2019-06-19 08:20] ai commented on #382
@testcderick nope. Nobody wants to do CSS tools in the current world when authors of CSS tools don’t have followers and community support.

[2019-06-19 08:22] testcderick commented on #382
Thanks @ai

[2019-06-19 10:07] webmasterpf commented on #386
Thanks, no way to modify another file than package.json ? because this file is created on the server and I need to edit it after initializing with npm and gulp. What about the browserlist file option into my project ?

[2019-06-19 10:09] ai commented on #386
You can create `.browserslistrc` instead of editing `package.json`:

[code]

[2019-06-19 10:20] webmasterpf commented on #386
Great. It's better way for me.

[2019-06-19 22:17] joseferrer1090 commented on #382
@akshayakrsh hellow men !!!

Hello, I have precisely the same error, and I solved it but I have my app in production on a ubuntu server version 16.04 !!!

1- The first thing you have to see is the version of nodejs in your place and I recommend that you update it to the more stable version

2- the second thing you have to do in your package.json verify the brorserlist section, in my case leave tha

[2019-06-20 09:57] JaneMax commented on #382
That is made the `npm start` compilation successful but error left: **BrowserslistError: Unknown browser query `android all`**

[2019-06-20 09:59] ai commented on #382
@JaneMax do `npm update` to update Browserslist inside dependency tree

[2019-06-20 15:45] jonathantneal commented on #382
I have posted this in other threads, but I will share it here as well:

---

It looks like `caniuse` or `caniuse-lite` may have published a potentially breaking change that rolled into `postcss-preset-env`, which then rolled into `browserslist` and threw this error or warning.

**How it worked**: More or less, caniuse stats are provided as an object of features, like `{ "css-all": {}, "css-any-lin

[2019-06-20 16:38] ogbanana commented on #382
I had this same issue until I added the Browser Global Scripts to my index.html file.

`<script src="https://unpkg.com/react/umd/react.production.js" crossorigin />

<script
  src="https://unpkg.com/react-dom/umd/react-dom.production.js"
  crossorigin
/>

<script
  src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js"
  crossorigin
/>

<script>var Alert = ReactBootstrap.Alert;</

[2019-06-20 21:08] jimblue opened #387 "Browserlist is not consisting"
Hi,

I've always use the following config:

[code]

Since today it returns me a strange result:

![Screenshot 2019-06-20 at 23 01 40](https://user-images.githubusercontent.com/10623367/59881258-6552dd00-93af-11e9-8da5-b46a2d4af533.png)

As you can see it returns **safari 5.1** whereas it shouldn't.

The same config on `browserl.ist` doesn't return **safari 5.1** as you can see.

![Screenshot 2019-

[2019-06-20 21:12] ai commented on #387
@jimblue can you try

[code]

I think it has more than `0.5%`.

There are two reasons to change browsers list:
1. Changing the config
2. Fresh Can I Use data in `caniuse-lite` npm package update

[2019-06-20 21:18] jimblue commented on #387
Ya **safari 5.1** have **0.95%** of coverage.
But my config is a combination of rules... it's not only about 0.5%.

[2019-06-20 21:20] ai commented on #387
This is `OR` combination.

We are writing it here https://github.com/browserslist/browserslist#query-composition

But you are not the first and seems like people misses it (so it is docs problem). How we can improve docs?

[2019-06-20 21:25] jimblue commented on #387
Indeed, I didn't read that part thank you.
But how do you explain, I never had this problem before with Safari 5.1 whereas I never change my browserlist config.
Also why the results return by [https://browserl.ist](https://browserl.ist) aren't the same and don't give Safari 5.1?

[2019-06-20 21:27] ai commented on #387
https://browserl.ist is not official. Maybe they forget to update Can I Use data.

[2019-06-20 21:28] jimblue commented on #387
Ok so something have probably change on the `caniuse-lite` package as you suggest.
Also probably related to the `android all` bug 😄 !

[2019-06-20 21:30] jimblue commented on #387
About the documentation and query composition, what's not really clear is how should we use the combinator in the json format?

like this ?
[code]

[2019-06-20 22:43] ai commented on #387
[code]

[2019-06-20 23:21] #387 closed

[2019-06-21 07:01] shobishani commented on #382
I have same issue.
`  "browserslist": [
    "last 1 version",
    "> 1%",
    "IE 10"
  ],`

This is my `browserslist` query when i try `npx browserslist` it returns You made typo in browseslist.
I even tried with "defaults" but still won't work.

[2019-06-21 07:13] jasper-seinhorst commented on #382
I've had the same issue. My fix was to add the dependancy: "postcss-preset-env" (Latest) to my packge.json. I noticed that a dependancy of a dependancy used an older version. With the failing query. Adding it as dev dependancy worked for me

[2019-06-21 07:14] shobishani commented on #382
@jasper-seinhorst Sure I'll try that as well.

[2019-06-21 07:23] shobishani commented on #382
Removing browserlist from dependency and then adding the last version `4.6.2` with the
`"resolutions": {
    "browserslist": "4.6.2",
    "caniuse-lite": "1.0.30000974"
  },`
then reinstall
 `yarn add browserlist@4.6.2`
 worked for me. Thanks @jasper-seinhorst @ycjcl868

[2019-06-21 10:11] andrastothtw opened #388 "Browserslist in package.json does not adhere to JSON Schema"
I have found about this through IntelliJ warning me:
![image](https://user-images.githubusercontent.com/29704619/59915672-7afeeb80-941d-11e9-9654-9d828e37f8dc.png)

In fact it says according the JSON Schema `browserslist` would require an `array` and not an `object`:
https://flaviocopes.com/package-json/#browserslist

[code]

So, is this `browserslist` issue or a `react-scripts` issue which uses `

[2019-06-21 10:12] ai commented on #388
You should open a issue in JetBrains repo. They have s wrong schema and I do not control it.

[2019-06-21 10:18] andrastothtw commented on #388
Thanks for the quick answer! Created a bug report.
You can track advancement of ticket here: https://youtrack.jetbrains.com/issue/IDEA-216742

[2019-06-21 10:18] #388 closed

[2019-06-21 12:03] testcderick commented on #382
Builds is okay now, since the latest update to caniuse-lite from 5 hours ago.

Update the version of caniuse 1.0.30000976 and everything will be fine.

[2019-06-21 13:08] jimblue commented on #382
Can't wait for the new Browserlist release 😓

[2019-06-21 13:09] ai commented on #382
@jimblue what do you need from new release?

[2019-06-21 13:10] jonathantneal commented on #382
@jimblue, since the break and the fix both occurred in a patch releases of caniuse-db, you don’t need a new release. You just get the fix the next time your dependencies are updated, the same way you got the break.

[2019-06-21 13:23] joseferrer1090 commented on #382
Hola me paso lo mismo, la solucion que entonces fue ir al package.json, browserlist[ ], pero deja la version en las dependencias !!!

[2019-06-21 14:44] jimblue commented on #382
sorry I tough caniuse had to be update in browserlist...

[2019-06-22 07:12] adelinyshka commented on #382
for me works only like this:

// package.json

[code]

[2019-06-22 11:00] sam77sakib commented on #382
can you please tell me how to update it?

[2019-06-22 11:06] shobishani commented on #382
@sam77sakib You need to update the package.json
update `"browserslist": "4.6.2"`
and add this
`"resolutions": {
    "browserslist": "4.6.2",
    "caniuse-lite": "1.0.30000974"
  }`

remove node_modules and package-loc.json or yarn.lock if you are using yarn.
then yarn install. it will be fixed.

[2019-06-22 11:06] shobishani commented on #382
Even in create-react-app have this problem now.

[2019-06-23 14:15] carldunham opened #389 "browserl.ist returning 404"
Hopefully just temporary 🤕

[2019-06-23 15:38] alaindimabuyo commented on #382
I have the same problem when I am creating a production build

[2019-06-24 01:28] ai commented on #389
It is not official website

[2019-06-24 01:28] #389 closed

[2019-06-26 18:48] isabellachen opened #391 "Different configs using .browserslistrc"
When I use create-react-app, it generates a package.json for me with the following browserslist config
[code]

If I want to move this to the .browserlistrc file, how can I specify two different arrays? Its not shown in the documentation, which says this:
[code]

[2019-06-26 18:58] ai commented on #391
[code]

https://github.com/browserslist/browserslist/blob/master/README.md#environments

How we can improve docs to make it more discoverable?

[2019-06-26 19:23] isabellachen commented on #391
Ah thanks. I probably should have ctrl+f for "environments". Maybe above the martians logo there could be a link to the section - to format these files for different environments, see [...], but maybe that will clutter up the start of the readme :/

[2019-06-26 19:25] ai commented on #391
Table of contents is a good idea. I will open an issue until I will add TOC.

Do you want to send PR to save your name in project’s history?

[2019-06-26 20:10] isabellachen commented on #391
Sure! It's getting late here so I'll do it tomorrow. I'll put the TOC below the Martian logo :)

[2019-06-27 07:55] SagarBajpai commented on #382
Update the version of browserslist to

to package.json file

[2019-06-27 19:45] isabellachen commented on #391
Here you go :)
PR 392: https://github.com/browserslist/browserslist/pull/392

[2019-06-28 16:11] #391 closed

[2019-07-01 09:10] SharmilaU-Hexaware commented on #266
@bjohndev and @ai . Below issue is not resolved for me
ERROR in ./node_modules/raw-loader!./node_modules/postcss-loader/lib??embedded!./node_modules/ngx-bootstrap/datepicker/bs-datepicker.css
Module build failed: BrowserslistError: Unknown browser query `dead`

This is not resolved for me, I verified my code and it has browserslist = 2.11.3, autoprefixer = 7.2.3, angularcli=1.7.4

I modified the b

[2019-07-01 09:36] vipulgupta2048 commented on #266
https://github.com/SharmilaU-Hexaware
Maybe you can try this blog post for a possible solution if you haven't yet - https://mixstersite.wordpress.com/2019/02/03/solved-module-build-failed-browserslisterror-unknown-browser-query-dead-react-npm/

It helped me out, so I wrote about it.

[2019-07-01 09:54] SharmilaU-Hexaware commented on #266
@vipulgupta2048 .Thanks for the suggestion. i have seen that earlier when i was exploring the possible answers. It didnt resolve my problem.
my package.json dependencies
"dependencies": {
    "@angular/animations": "^5.2.11",
    "@angular/cdk": "^5.2.5",
    "@angular/common": "^5.2.0",
    "@angular/compiler": "^5.2.0",
    "@angular/core": "^5.2.0",
    "@angular/forms": "^5.2.0",
    "@angular

[2019-07-01 11:02] revskill10 commented on #266
Why this issue closed ? It's not been solved yet.

[2019-07-01 16:07] ai commented on #266
@revskill10 this issue is closed because I can’t do anything. Current Browserslist supports `dead`. You have the error because some of your libraries use very old Browserslist. You should call `npm ls` find who use old Browserslist and open issues in those tools.

[2019-07-02 09:12] obendev opened #393 "'-webkit-box' in defaults"
Since the last browserlist update autoprefixer adds `display: -webkit-box` for `display: flex`.
[code]
in my packagaje.json, I changed nothing else, just the new browserlist version.
Is this on purpose? Feels like a bug

[2019-07-02 09:28] ai commented on #393
Show your `npx autoprefixer --info`

[2019-07-02 09:35] obendev commented on #393
### Before Update
[code]
### After Update
[code]

[2019-07-02 09:47] ai commented on #393
Strange. I will investigate it few days later.

[2019-07-02 09:49] obendev commented on #393
I was also able to reproduce this on a vm.

[2019-07-03 19:14] jonathantneal commented on #387
Thank you for posting this issue, @jimblue. I was very confused.

Here are the browsers currently returning by `default`:

[code]

I tried a similar query, `> 0.5% and not dead`, and these were the results:

[code]

I think the surprising thing in both results is that `not dead` is not removing `samsung 4` or `safari 5.1`. I thought both of these browsers would fall under “_without official suppor

[2019-07-03 19:49] ai commented on #387
Hm. I will investigate the update status for these browsers few day later.

[2019-07-05 01:19] ai commented on #393
The reason for old webkit prefixes is adding `Safari 5.1` browser.

You got a different browsers because of `caniuse-lite` update inside your dependencies. New Can I Use database contains new browsers usage statistics. Safari 5.1 pass `> 0.5%` from default queries.

[2019-07-05 01:19] #393 closed

[2019-07-05 01:40] ai commented on #393
We will think about adding this old Safari to `dead` browsers https://twitter.com/Browserslist/status/1146955994901176320

[2019-07-05 01:41] ai commented on #387
https://twitter.com/Browserslist/status/1146955994901176320

[2019-07-05 05:23] obendev commented on #393
So is there anything I can do to get rid of the prefixes?

[2019-07-05 14:28] ai commented on #393
@obendev if you want to remove prefixes quicker, please post a reply for that tweet that it is important for you.

[2019-07-06 12:00] Nettsentrisk opened #395 "New query: Unsupported"
The dead query is defined as:

There should be a query that is defined as:

Or even:

For example, I want to cover X % of users in country Y, but do not wish to cover browsers that are no longer officially supported by their vendors.

[2019-07-06 15:07] ai commented on #395
Yeap. We are already changing the definition

https://twitter.com/Browserslist/status/1146955994901176320

[2019-07-06 15:07] #395 closed

[2019-07-11 14:14] benpink opened #396 "loadQueries require.resolve breaks eslint in VS Code when using sharable configs"
Appreciate this is obscure and likely more of an eslint issue but is there any reason for the `require.resolve` in `loadQueries` to be scoped to the current path?:
https://github.com/browserslist/browserslist/blob/master/node.js#L116

I discovered that a path resolve within loadQueries causes eslint within VS Code to break in my (nested monorepo) project when using an extended sharable config. Rem

[2019-07-11 22:10] ai commented on #396
If I remember it correctly, I used `path` to avoid resolving path from `browserslist/` dir path.

We can change it if you will die that in different cases you did will work correctly (sorry, I will have 10+ hours flight and will need your help in investigation here).

[2019-07-12 20:21] benpink commented on #396
Thanks @ai. It's not a huge problem for me right now (I can fork/work around it). I'll take another look at whether it is something I can overcome with VS Code / eslint config settings.

Closing ticket - I'll update if I find anything useful.

[2019-07-12 20:21] #396 closed

[2019-07-22 15:27] lol768 opened #397 "We can’t connect to the server at browserl.ist."

[2019-07-22 15:30] ai commented on #397
Create an issue here https://github.com/jonrohan/browserl.ist

It is no official project. I can’t help here.

[2019-07-22 15:30] #397 closed

[2019-07-22 15:41] lol768 commented on #397
I'll raise an issue.

It may be worth removing the link from the README if this is extended downtime, perhaps?

[2019-07-22 15:42] ai commented on #397
Yeap. Good idea of removing the link. Can you send PR to save your name in history?

[2019-07-22 19:15] ipmb opened #398 "README demo site is down"
README references https://browserl.ist/ but the domain does not resolve.

[2019-07-22 19:34] ai commented on #398
I removed the link f4654af

[2019-07-22 19:34] #398 closed

[2019-07-22 19:35] ai commented on #397
I removed the link f4654af

[2019-07-23 07:21] ThiefMaster commented on #397
Is the code behind that site open source? Could it be re-hosted as an official project (even though the current domain for it was pretty awesome)?

[2019-07-23 09:33] felix-voicehub opened #399 "http://browsersl.ist/ down?"
Any idea why http://browsersl.ist/ is down?

[2019-07-23 15:17] ai commented on #399
Nope. Ask here https://github.com/jonrohan/browserl.ist

[2019-07-23 15:17] #399 closed

[2019-07-23 15:17] ai commented on #399
You can use `npx browserslist`

[2019-07-23 16:00] ai commented on #397
Use `npx browserslist "last 2 version"`. It will give the more correct result, because of `caniuse-lite` in your `node_modules`.

I have plans to create my own Browserslist website. But I need to rewrite the code according to my standards.

[2019-07-23 16:01] ThiefMaster commented on #397
I can't link nicely to that in [my README](https://github.com/indico/indico/#browser-support) like I did with `browsersl.ist` ;)

[2019-07-23 16:03] ai commented on #397
Good use case. I will think about the website on this week.

[2019-07-24 10:55] weilinzung opened #400 "new feature request: BROWSERSLIST array"
Hi,

Could we have multiple values supported in `BROWSERSLIST`environment variable?
In windows with `CROSS-ENV` that if the browser name contains space would give errors.

This way only works for MAC.

command:
`../node_modules/.bin/cross-env BROWSERSLIST='last 5 versions,Safari 7,ie 10'`

[code]

Looking for is each broswer name contain quotes in brackets:

`BROWSERSLIST=['last 5 versions','Safar

[2019-07-24 12:27] ai commented on #400
You didn't see the array. Environment variables is just a string.

[code]

Is equal to:

[code]

Adobe environment variables do not support array in Node.js (they are always just a strings) we can't support it.

[2019-07-24 12:27] #400 closed

[2019-07-31 03:22] pastelsky opened #402 "Minor version numbers aren't respected in ranges"
### Use case
When querying with a minor version number –

[code]

### Expected output

[code]

### Actual output

[code]

[2019-07-31 08:33] ai commented on #402
Sorry, we are stuck to Can I Use versions and they track Safari in this strange version range.

Adding `9.0-9.2` is less dangerous than avoiding it.

Maybe we should try to convince Can I Use to split version ranges?

[2019-07-31 08:33] #402 closed

[2019-07-31 12:35] kermorgant opened #403 "getting only latest version for android browsers"
Hi,

I've maybe missed something but can't find out how to get more than one version of android browsers.

For example, here's my test config

[code]

and the output is
![image](https://user-images.githubusercontent.com/10561580/62212080-ad025680-b3a8-11e9-9084-ef61735be029.png)

I've tested with version 4.6.6 and older up to 4.4.0, getting same result.

any idea of what's going on ?

[2019-07-31 13:54] peterchang2 opened #404 "When using the foloowing doesnt add vendors"
Using gulp with `.pipe(postcss([autoprefixer(), cssnano()]))` during sass compilation.

When using the below two options prefixes are not being added.
[code]

or

[code]

But if I use this list everything prefixes are being added.
[code]

[2019-07-31 18:40] ai commented on #404
1. What prefixes are you looking for?
2. Compare `npx browserslist` output for all 3 cases. I tink `defaults` is not equal to the last browser's list.

[2019-07-31 18:43] ai commented on #403
“It is a feature, not a bug” 😆

There are more than 10 versions between Android 75 and Android 4.4.4. https://github.com/browserslist/browserslist/blob/master/index.js#L210-L220

If you want to test Android 4.4.4, it is better to explicitly add it to the queries.

[2019-07-31 18:43] #403 closed

[2019-08-05 19:29] dmartinjs opened #405 "2 browsers with 0% in defaults"
Why there is 2 browsers (Android Browser67, Baidu Browser7.12) with 0% usage into defaults query ?

<img width="1666" alt="default-query" src="https://user-images.githubusercontent.com/53537199/62489853-209ccd00-b7c8-11e9-95f6-b0ebbe774a6b.png">

[2019-08-05 20:47] ai commented on #405
Seems like it is browsersl.ist statistics rounding problem. They have less than 0.1 % and website shows it wrong.

Please, create issue https://github.com/jonrohan/browserl.ist

[2019-08-05 20:47] #405 closed

[2019-08-10 00:05] peterchang2 commented on #404
I was dumb and pretty new, I switched to using the config and it is working
now. Sorry about that.

On Wed, Jul 31, 2019 at 2:40 PM Andrey Sitnik <notifications@github.com>
wrote:

--
*Peter Chang | Web Developer*
(781)-535-4599
peterchang664@gmail.com
peterchang2.github.io

[2019-08-10 00:15] #404 closed

[2019-08-10 00:16] ai commented on #404
Don’t worry. I still have the same mistakes even with 10+ year of experience.

[2019-08-13 09:19] crllrd commented on #382
npm install caniuse-lite@1.0.30000974

This solution help me

[2019-08-22 10:21] pastelsky commented on #402
@ai Makes sense, opened an issue here –
https://github.com/Fyrd/caniuse/issues/5051

[2019-08-25 05:55] just-boris opened #406 "Add phantomjs as a browser name"
[PhantomJS](https://phantomjs.org) is an old browser, but still sometimes makes sense. It would be nice to be able to use it in queries.

PhantomJS uses QT Webkit as an engine. The corresponding versions are the following:

* PhantomJS 2.1 -> QT Webkit 5.5.1 -> Chrome 40
Source: https://wiki.qt.io/New_Features_in_Qt_5.5

* PhantomJS 1.9 -> QT Webkit 4.8.2 -> Safari 5
Source: https://github.com/Fin

[2019-08-25 05:56] ai commented on #406
Am I right that PhantomJS is dead and we do not need to add new versions?

[2019-08-25 06:06] just-boris commented on #406
Correct. Also `not dead` query should exclude it from the list.

[2019-08-25 06:13] ai commented on #406
We will add it as alias (because of architecture limits), so it will not be added by `last 2 versions` and we do not need it in `not dead`

[2019-08-25 09:07] zloirock commented on #406
@just-boris PhantomJS 5.1 does not support a big part of features which support Chrome 40. A little part of a huge listing:
![Снимок экрана 2019-08-25 в 16 02 26](https://user-images.githubusercontent.com/2213682/63647888-e9c83000-c751-11e9-8012-2e3453d864c2.png)
Seems because of Qt WebEngine uses Chromium 40, not deprecated Qt WebKit?

[2019-08-25 15:53] just-boris commented on #406
Good point, thank you @zloirock!

I have checked it deeper.

The user agent string of PhantomJS is `Mozilla/5.0 (Macintosh; Intel Mac OS X) AppleWebKit/538.1 (KHTML, like Gecko) PhantomJS/2.1.1 Safari/538.1`

According to [this table](https://en.wikipedia.org/wiki/Safari_version_history#Safari_8), this version of Webkit, 538, was released as part of Safari 8.

@zloirock Can you please check if thi

[2019-08-25 16:37] zloirock commented on #406
At least, those tests which pass in Safari 8.0.8 fails in PhantomJS 2.1:
[code]
I haven't Safari 8.0.0 for check it, however, some of those tests should be passed even in Safari 7.1.

[2019-08-25 17:50] just-boris commented on #406
So, there is Safari 8.0, which is Webkit `538.35.8`
PhantomJS uses `538.1.0`, which was released before.

What's interesting is that [the version bump](https://trac.webkit.org/changeset/151792/webkit) to `538.1` was from `537.47` which corresponds to Safari 6.1. So, Safari 7 was developed and released from another feature-branch, apparently.

So, PhantomJS 2.1 is somewhere between Safari 6 and 8 i

[2019-08-25 20:16] ai commented on #406
We don’t need to be 100% accurate in Safari version. We just need to be sure that JS code after Babel will work in PhantomJS. So we can set Safari 6.

What about Phantom 1.9? Can we prove that it is Safari 5?

[2019-08-25 20:33] zloirock commented on #406
I use [this mapping](https://github.com/zloirock/core-js/blob/master/packages/core-js-compat/src/mapping.js#L56-L57). At least approximately, it looks like the truth. `compat-table` contains [this mapping](https://github.com/kangax/compat-table/blob/gh-pages/environments.json#L2309-L2330). However, `phantomjs@2.1` results definitely better than `safari@6`.

[2019-08-25 20:37] ai commented on #406
I will add only `PhantomJS 1.9` and `Phantom 2.1` aliases (case insensitive). They will not be part of any common queries like `last 2 version` or `> 1%`. Is it OK?

[2019-08-25 22:36] just-boris commented on #406
Good for me

[2019-08-27 14:44] alaricd opened #407 "Feature-based query"
While this may not be an issue, I can't find a mailing list, or any example.

I want to limit the browsers I support to those that support tls12, caniuse has the info, but I can't find any way to query for that.

If it is a supported query, can we add documentation for that?

[2019-08-28 16:11] lukejagodzinski opened #408 "Add ability to extend file config"
I have project setup with Lerna and Yarn Workspaces:
[code]

In the root `.browserslistrc` file I have browsers list and in each package `.browserslistrc` file I would like to do

[code]

but I can't. I can only extend from package like here:

[code]

However, I don't want to create separate package to only define list of browsers

[2019-08-29 03:34] ai commented on #408
Browserslist can’t to it right now because of security concerns.

What is the purpose for `packages/a/.browserslistrc`? Do it extends `.browserslistrc` from the root?

[2019-08-29 10:41] lukejagodzinski commented on #408
Hmm security concerns? Isn't it just something similar to other tools that allow extending config files?

Yep the one in `packages/a` extends the one in the root

[2019-08-29 16:24] ai commented on #408
I am not sure that other tools are secure ;)

You can create `packages/our-browserslist-config`, add it to `workspaces` and then use as `extend our-browserslist-config`. Will it work for you?

[2019-08-29 23:06] lukejagodzinski commented on #408
I think I've tried it already and it didn't work but I will try again and let you know

[2019-08-31 00:40] ai commented on #406
Done c720da3

[2019-08-31 00:40] #406 closed

[2019-08-31 00:43] ai commented on #407
Nope, docs will be too big.

[2019-08-31 00:43] #407 closed

[2019-08-31 02:13] ai commented on #406
Released in 4.7

[2019-09-01 10:56] Ajmdag opened #409 "Where is the source of data? And how it works?"
label Question please @ai
## I want to figure out how this tool works, can you help me?
Where tools that using browserslist get relevant information about browsers? I suppose CanIUse provides such API. If yes, people that work with CanIUse gather information by hands, testing all the browsers? If not, how?

### For example:

1. **Autoprefixer** get data from **browserslist** about browsers I want

[2019-09-01 18:26] ai commented on #409
1. Browser’s developers send PR to [`caniuse`](https://github.com/Fyrd/caniuse) repository.
2. When Can I Use maintainer accepts that PR he releases [`caniuse-db`](https://www.npmjs.com/package/caniuse-db) npm package.
3. @ben-eb script monitors `caniuse-db` package releases and repack them into more compact [`caniuse-lite`](https://www.npmjs.com/package/caniuse-lite).
4. `autoprefixer` npm packag

[2019-09-01 18:26] #409 closed

[2019-09-07 06:40] JounQin opened #410 "bug or expected: `last 1 Node version` throws `browserslist: Unknown browser Node`"
As title, I think it should make sense like `last 1 Chrome version`.

[2019-09-07 07:21] ai commented on #410
What is your use case for this query?

BTW, what version to you expect to have for `last 2 Node versions`?

[2019-09-07 12:05] JounQin commented on #410
I'm writing a shareable config, which targets latest modern browsers and node.

https://github.com/1stG/configs/blob/master/packages/browserslist-config/latest.js

All available node versions are listed at https://nodejs.org/dist/index.json .

[2019-09-07 13:13] ai commented on #410
Yeap, this behavior looks good. Do you want to send PR?

[2019-09-08 09:17] JounQin commented on #410
OK, I'll do in few days.

[2019-09-27 01:50] shenwuwu opened #411 "Module build failed: BrowserslistError: Unknown browser query `dead`"

[2019-09-27 03:15] ai commented on #411
Run `npm update`.

If `npm update` will not help, run `npm ls`, find what tool depends on old Browserslist and ask them to update dependency.

[2019-09-27 03:15] #411 closed

[2019-10-01 08:35] bartek-szymanski opened #412 "What do you consider as "not dead" browser?"
The "not dead" browser is one that still receives updates, or doesn't receive any but is still used by many people? What's the definition?

[2019-10-01 08:38] ai commented on #412
Update `caniuse-lite` to the latest version. The easiest way to do it is `npm update`.

[2019-10-01 08:40] #412 closed

[2019-10-01 16:34] betorobson opened #413 "Missing Safari 13?"
Running version 4.7.0

The following query:
[code]

Give me the output
[code]

May it supposed to show Safari 13?

[2019-10-01 16:36] ai commented on #413
We need to wait for `caniuse-db` and `caniuse-lite` update

[2019-10-01 16:36] #413 closed

[2019-10-03 16:35] trusktr opened #414 "What's the string to support all browsers that have async functions?"
I'd like to support the most amount browsers that have native async functions, but I'm not sure what that string would be.

For now I just target `chrome >= 70`.

Any ideas?

[2019-10-04 00:55] ai commented on #414
Browserslist doesn't support feature based queries and we do not want to add support, because it is out of our purpose.

You can use `caniuse-api` to generate browsers lost and use it as Browserslist query.

[2019-10-04 00:55] #414 closed

[2019-10-06 21:56] fichorka opened #415 "Query combiners select incomplete browsers list"
I'm not sure if I'm mistaken, but browser selection by queries seem wrong when using combiners. I'll show a couple of examples I tried and please tell me if this makes sense to You. Thanks.

`last 2 Chrome versions` - `chrome 77 chrome 76`
`last 2 Chrome versions and not dead` - `chrome 77 chrome 76`
`last 2 Chrome versions or not dead` - `chrome 77 chrome 76`
`last 2 Chrome versions, not dead` -

[2019-10-07 09:10] ai commented on #415
It is how `not X` works. It removed `X` from previous queries.

We can’t change it, because it will be breaking changes (and because it fits all real use cases, that I know).

Can we improve this doc to make this behavior more clear? https://github.com/browserslist/browserslist#query-composition

[2019-10-07 09:10] #415 closed

[2019-10-07 15:27] fichorka commented on #415
Oh ok, thanks. I just don't understand how these queries work exactly, though it's a good thing they can be easily tested with npm commands. However, isn't it wrong to use Venn's diagram in query composition docs for some of these combiners, specifically `or`?

[2019-10-07 15:47] ai commented on #415
Why?

[2019-10-07 16:04] fichorka commented on #415
Because it obviously doesn't include result(set) from each query in query composition.
As far as I understand (which is probably wrong) it behaves like `and` combiner/operator.

[2019-10-07 16:07] ai commented on #415
At least I saw the same circles for `or` and `not` in my university book. Maybe they are not Venn’s diagram.

If it is not familiar to others, we can replace illustration. Do you have an idea of how to replace it?

[2019-10-07 16:22] fichorka commented on #415
I don't.  I' don't understand these query combinations myself. Anyway, thanks for info :)

[2019-10-14 18:40] danofpaco opened #417 "Getting unexpected results"
I'm getting unexpected (outdated?) results when using Browserslist.

In my `package.json`:

[code]

(among others)

As of this writing, current Chrome is 77. Running `npx browserslist` gives me versions 74 and 75 of Chrome. Am I correct in expecting my query to be returning 77 and 76 instead?

[2019-10-14 18:41] ai commented on #417
Check the version of `caniuse-lite` and update it

[2019-10-14 18:41] #417 closed

[2019-10-14 18:46] danofpaco commented on #417
Thank you for the reply, I will check into this.

[2019-10-15 10:21] renielDev commented on #137
how to exclude IE? i tried not `IE > 0` but it still showing

[2019-10-15 10:40] ai commented on #137
Don't forget about `IEMob > 0`. Use `npx browserslist` for debugging.

[2019-11-04 22:37] jonathantneal commented on #373
If it proves necessary, we can add an `edge-legacy` browser so that people can write things like `last 2 edge-legacy`.

[2019-11-04 22:40] ai commented on #373
Browserslist uses browser names from Can I Use, we can’t rename it here. We can add only legacy version alias like `edge legacy` = `edge 18`.

[2019-11-04 22:40] ai commented on #373
But I think `edge 18` is shorter. We do not need lias for things that do not get new versions.

[2019-11-05 05:40] molant commented on #373
A few questions/comments I have now that this is finally public to see what you think:

* I see `edge 18` similar to `firefox esr`, a version that is going to get security updates for a while. Maybe it should be included as part of `defaults` once the new edge ships? We want the new edge to replace the legacy one as fast as possible but it depends in many different factors (enterprise being one th

[2019-11-05 15:08] ai commented on #373
Good idea. I will add it after the first Chromium Edge release (can you ping me if I will miss the release?).

I depends on Can I Use. I think they will track only the latest Edge version, so in the future, they will have `edge 81, edge 18` (even if `edge 80` exists). In this case:

Current behavior:

[code]

After the first Chromium Edge release I will fix it to (we use the same behavior, that we

[2019-11-05 15:09] ai commented on #373
Don’t worry, we will be in touch during the release :hugs:. I can make hotfix during the day.

[2019-11-05 16:25] mgol commented on #373
Wouldn't it be better to slightly tweak that logic & assume that Edge 18 comes directly before the first stable Chromium-based release? In pseudo-code the logic would be as follows (let's assume that Edge 82 is the latest version as we execute it):

[code]

That would mean, if Can I Use only shares 82, 18, 17, 16 etc.:
[code]

[2019-11-05 19:07] ai commented on #373
Yeap, @mgol suggestion is much better. Let’s count Edge versions like: `last 1 versions` → `edge 82`, `last 2 versions`: `edge 82` (because Can I Use will not have Edge 81), `last 5 versions`: `edge 82, edge 18, edge 17`.

[2019-11-05 21:36] alexlopez-natgeo commented on #386
is there a way to inherit from other repo?
 e.g.
for prettier, there's a repo `github/companyX/prettier-config`
later we use it on multiple package.json (distributed as npm package)
[code]

[2019-11-05 21:36] ai commented on #386
@alexlopez-natgeo yeap https://github.com/browserslist/browserslist#shareable-configs

[2019-11-12 15:36] burtek opened #420 "'> 10%' not working correctly?"
Why is '> 10%' not showing Chrome 77, which has over 22% of share, but instead showing Chrome 76 with 1% of share?

Also, why is iOS Safari (with less than 5% share) included in '> 5%' ?

![image](https://user-images.githubusercontent.com/2940958/68685476-7e307a80-056a-11ea-82c5-01b205b4736a.png)

![image](https://user-images.githubusercontent.com/2940958/68685309-3c9fcf80-056a-11ea-9faf-a85d104e7

[2019-11-12 16:00] ai commented on #420
`browserl.ist` is not official and can have different statistics.

Show me the result of:

[code]

[2019-11-12 16:01] burtek commented on #420
Nevermind :) Didn't know about that, thanks for clarification.

![image](https://user-images.githubusercontent.com/2940958/68687813-0ebc8a00-056e-11ea-9776-f8bd3832032c.png)

[2019-11-12 16:01] #420 closed

[2019-11-12 16:03] burtek commented on #420
On the other hand it's strange that the difference is so big

[2019-11-12 16:09] ai commented on #420
Agree. Maybe we can report issue https://github.com/jonrohan/browserl.ist

[2019-11-12 16:11] burtek commented on #420
@ai did that in https://github.com/jonrohan/browserl.ist/issues/115

[2019-11-14 15:16] kizerkizer opened #421 "Grammar?"
Does this have a formal grammar? Although the documentation seems to be thorough, there's too much ambiguity unless you give a CFG for valid "browserlist strings".

[2019-11-14 15:16] kizerkizer commented on #421
I'd be happy to help, by the way! :D

[2019-11-14 16:23] ai commented on #421
Hi. Looks like a great idea, but I will need help here.

[2019-11-18 19:09] devkyo commented on #386
Because after declaring the browsers they support in browserlistrc still showing the alert in terminal?

[2019-11-21 17:39] heyimalex commented on #421
I've never written a grammar before, but here's a starting point for someone more experienced?

[code]

[2019-11-21 18:14] ai commented on #421
Looks good. Few things to improve:

[code]

We need to clearify that query can’t be started with `not X`.

[code]

There is a small number of `alt-*` regions (it is like `alt-asia` and other parts of the world). We can clearify it in grammar. You can check possible values by `caniuse-db` sources.

[code]

There is no usage of `SPACE` literal. Can we remove it?

[2019-11-21 23:08] heyimalex commented on #421
Maybe no leading not could be handled like this? But again, not really an expert on antlr grammars. Maybe it shouldn't be part of the grammar at all.

[code]

For the regions, we could just enumerate them all. I just didn't get around to listing them.

That `SPACE` is a lexer rule and is necessary for breaking up everything into tokens, the `-> skip` just means those tokens are removed before the

[2019-11-23 19:18] 719media commented on #387
Is there any update to this thread? I see the twitter link got some replies about samsung 4 still being used, but safari 5.1? I imagine the reason it shows anything above 0% use is it's the last version released for windows OS.

I would advocate for at least moving safari 5.1 to dead.

[2019-11-24 03:05] ai commented on #387
@719media I found that we need to use only browsers from `last 2 version` in `dead`

[2019-11-24 17:05] 719media commented on #387
But then safari 5.1 shows up in the "defaults" query, which I think is undesirable.
https://browserl.ist/

Are you saying this is a desirable default? Support for Safari 5.1?

[2019-11-24 17:07] ai commented on #387
@719media `defaults` is `> 0.5%, last 2 versions, Firefox ESR, not dead`. Safari 5.1 was added because it is used by > 0.5% of users:

[code]

Sorry, without excplicit agreement from Safari team, I can’t remove it.

[2019-11-25 07:38] bhanukumar04 opened #422 "Angular | show unsupported message on application load | help needed"
Am looking to display a warning message to the user, if the browser falls in unsupported browser list.  any help is appreciated.

[2019-11-25 07:41] #422 closed

[2019-11-26 16:16] ankurkaushal360 opened #423 "`caniuse-lite` acknowledgement notice while running `npx tldrlegal`"
~Since my company has to comply with SOC [compliance](https://www.imperva.com/learn/data-security/soc-2-compliance/)~

Since my company wants to protect itself from any legal troubles in future, we ran `npx tldrlegal` on our project & it brought this to our attention:

![Screen Shot 2019-11-26 at 11 11 22 AM](https://user-images.githubusercontent.com/31927177/69651339-eccb0900-103d-11ea-8e2e-0ebf6

[2019-11-26 17:13] AndrewLeedham commented on #258
@ai any thoughts on a potential solution here? I can potentially put a PR in if I know the direction. I tried setting `process.env.BROWSERSLIST_STATS` inside the shareable config itself, but I am guessing that is ran in a spawn or exec process so it does not propagate to browserslist itself.

I would have thought looking for `browserslist-stats.json` in the location of the extended package would b

[2019-11-26 19:47] ai commented on #423
Are you asking about different versions of `caniuse-lite` (it can be fixed by `npm update`) or acknowledgment notice?

[2019-11-26 19:49] ankurkaushal360 commented on #423
@ai The acknowledgement notice specifically.

[2019-11-26 19:51] ai commented on #423
Sorry, I am not familiar with SOC 2 Compliance. Can you tell me more about the problem and how I can fix it?

[2019-11-26 20:14] ankurkaushal360 commented on #423
@ai Upon further discussion with one of my managers & seeing their update, it isn't SOC compliance thing, it's more of a legal base for our company & protect us from any legal troubles in future. Apologies for confusion.

But coming back to the notice, is it possible that `Browserslist` & `Autoprefixer` give some credits in `README` or somewhere else? Or one option is `caniuse-lite` changes its li

[2019-11-26 20:26] ai commented on #423
CC-BY force any users to explicit tell that it is using this lib. Didn’t know about it. We can add a link to `README.md`. Do we have any rules about this mention (just a link will be enough)?

[2019-11-26 20:35] ankurkaushal360 commented on #423
@ai I am not sure but we can definitely adding a link & then run `npx tldrlegal` to confirm if the notice pops up again? Let me know if you want me to put up a PR :)

[2019-11-27 08:17] ai commented on #423
Will `npx tldrlegal` stop to show warning if I add a mention to Autoprefixer’s docs? Seems like according to the license, every user in the chain must mentioned `caniuse-lite` somewhere.

[2019-11-27 08:22] ai commented on #258
I like the idea of `> 5% in browserslist-config-google stats` to load `browserslist-config-google/browserslist-stats.json` and `> browserslist-config-stats/us stats` to load `browserslist-config-stats/us/browserslist-stats.json`.

You will need to add a new query to `QUERIES` list and use the same safety technique from `extend` query (prohibbit `.` and `..` in config name).

[2019-11-27 10:41] AndrewLeedham commented on #258
That could work, presumably you would be able to use the `> 5% in browserslist-config-google stats` within browserslist-config-google itself? Also what about custom stats file names, would this just enforce `browserslist-stats.json`?

[2019-11-27 19:08] ai commented on #258
Yeap.

Let's force one name. I do not see any problem with this convention.

[2019-11-29 02:26] ankurkaushal360 commented on #423
@ai I am assuming it should. One option like I mentioned before is to change the license type altogether, not sure if that's a viable option? I noticed you're one of the contributors too, is there a reason why that particular license type was chosen? :)

[2019-11-29 08:58] ai commented on #423
We can’t do it since `caniuse-lite` is just a repack if CC-BY’s `caniuse-db`

[2019-11-30 14:21] #258 closed

[2019-11-30 14:33] ai commented on #258
Released in 4.8.

[2019-11-30 14:46] ai commented on #423
I added `caniuse-lite` mention to Browserslist docs e0dcbfa (but still have warning from `npx tldrlegal`)

[2019-11-30 14:46] #423 closed

[2019-12-05 09:01] thw0rted commented on #91
Just as a data point, I'm writing an application for use in a closed corporate environment, on an isolated network that has no mobile devices, and policy-managed browser deployments.  This is not an unusual case.

I agree that devs should generally consider mobile, and I espouse responsive design for general-purpose websites, but I have to disagree with the idea that desktop-only (or mobile-only,

[2019-12-05 09:07] ai commented on #91
@thw0rted yeap, there are rarely good cases (but even in your cases having mobile phone option is always good for company productivity, what if some developer is on the go?). For instance, kiosks.

But there are many more bad cases. I think adding a shortcut will bring more bad things to the ecosystem, than good things.

You can always create a sharable config like `extend browsers-config-desktop`

[2019-12-12 08:10] panlina opened #431 "`mobileToDesktop` breaking change between 4.7.3 and 4.8.2?"
`require('browserslist')("cover 90% in CN", { mobileToDesktop: true })` gives `and_chr 78` and other 4 items in 4.7.3, but gives `and_chr 4` and other 4 items in 4.8.2.

We're using `@babel/preset-env` and it broke recently after update. I traced and found `browserslist` gives different result before and after. So I come with the line above. `@babel/preset-env` always calls `browserslist` with `mo